Repository laloaggro/Flores-Victoria-: changes, and which Codecov flags are due for each by the changed paths.
All: user-service, auth-service, product-service, cart-service, order-service

codecov.yml:

# Codecov Configuration for Flores Victoria
# https://docs.codecov.io/docs/codecov-yaml

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: 60%
        threshold: 2%
        if_not_found: success
        if_ci_failed: error
    
    patch:
      default:
        target: 70%
        threshold: 5%
        if_not_found: success

# Individual service coverage targets
flag_management:
  default_rules:
    carryforward: true
    
flags:
  user-service:
    paths:
      - microservices/user-service/
    carryforward: true
    
  auth-service:
    paths:
      - microservices/auth-service/
    carryforward: true
    
  product-service:
    paths:
      - microservices/product-service/
    carryforward: true
    
  cart-service:
    paths:
      - microservices/cart-service/
    carryforward: true
    
  order-service:
    paths:
      - microservices/order-service/
    carryforward: true

# Ignore patterns
ignore:
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/coverage/**"
  - "**/dist/**"
  - "**/build/**"
  - "**/*.test.js"
  - "**/*.spec.js"
  - "**/jest.setup.js"
  - "**/jest.config.js"
  - "**/mcp-helper.js"
  - "**/server.js"
  - "**/*.md"
  - "**/*.sh"
  - "development/**"
  - "admin-panel/**"
  - "shared/**"
  - "docs/**"

# Comment settings for pull requests
comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main
    - develop

# GitHub checks
github_checks:
  annotations: true

# Annotation settings
annotations:
  range: "50...100"
  round: down
  precision: 2

fix(admin-dashboard): corregir doble autenticación y scripts faltantes
  microservices/admin-dashboard-service/public/js/auth.js
  microservices/admin-dashboard-service/public/rbac.js
  microservices/admin-dashboard-service/public/theme.js
Due: none

refactor(admin-dashboard): rediseño completo con sidebar y RBAC mejorado
  microservices/admin-dashboard-service/public/admin.html.corrupted
  microservices/admin-dashboard-service/public/index-old-backup.html
  microservices/admin-dashboard-service/public/index-old.html
  microservices/admin-dashboard-service/public/index.html
  microservices/admin-dashboard-service/public/orders-old.html
  microservices/admin-dashboard-service/public/products-old.html
Due: none

fix(auth-service): mejorar conexión PostgreSQL para Railway
  microservices/auth-service/src/config/database.js
Due: auth-service

fix(auth-service): deshabilitar SSL para conexiones internas Railway
  microservices/auth-service/src/config/database.js
Due: auth-service

fix(frontend): corregir CSP y URLs de API para producción
  frontend/Dockerfile.railway
  frontend/js/utils/auth-inline.js
  frontend/js/utils/auth.js
  frontend/js/utils/google-auth.js
  scripts/railway-check.sh
Due: none

fix(frontend): añadir cache-busting a scripts de autenticación
  frontend/pages/login.html
Due: none

fix(auth-service): añadir métodos faltantes al stub de auditService (logLoginFailed, logLoginSuccess, logRoleChange)
  microservices/auth-service/Dockerfile
Due: auth-service

fix(auth-service): actualizar docker/Dockerfile.auth-service con stubs completos de auditService
  docker/Dockerfile.auth-service
Due: none

feat(auth-service): agregar keep-alive para PostgreSQL cada 4 min para evitar timeout/sleep
  microservices/auth-service/src/server.js
Due: none

feat(admin): Modernización completa del Admin Dashboard
  microservices/admin-dashboard-service/public/auth-legacy.js
  microservices/admin-dashboard-service/public/auth.js
  microservices/admin-dashboard-service/public/css/admin-layout.css
  microservices/admin-dashboard-service/public/css/design-system-v2.css
  microservices/admin-dashboard-service/public/js/app.js
  microservices/admin-dashboard-service/public/js/dashboard-controller.js
  microservices/admin-dashboard-service/public/js/orders-controller.js
  microservices/admin-dashboard-service/public/js/products-controller.js
  microservices/admin-dashboard-service/public/js/settings-controller.js
  microservices/admin-dashboard-service/public/js/users-controller.js
  microservices/admin-dashboard-service/public/login.html
  microservices/admin-dashboard-service/public/monitoring-dashboard.html
  microservices/admin-dashboard-service/public/monitoring.html
  microservices/admin-dashboard-service/public/notifications.js
  microservices/admin-dashboard-service/public/orders/index-legacy.html
  microservices/admin-dashboard-service/public/orders/index.html
  microservices/admin-dashboard-service/public/products/index-legacy.html
  microservices/admin-dashboard-service/public/products/index.html
  microservices/admin-dashboard-service/public/settings.html
  microservices/admin-dashboard-service/public/settings/index-legacy.html
  microservices/admin-dashboard-service/public/settings/index.html
  microservices/admin-dashboard-service/public/users/index-legacy.html
  microservices/admin-dashboard-service/public/users/index.html
  microservices/admin-dashboard-service/src/routes/adminStatsRoutes.js
  microservices/admin-dashboard-service/src/routes/notificationRoutes.js
  microservices/admin-dashboard-service/src/server.js
  microservices/order-service/src/app.js
  microservices/order-service/src/routes/stats.js
  microservices/review-service/src/app.js
  microservices/review-service/src/routes/stats.js
  microservices/user-service/src/app.js
  microservices/user-service/src/routes/stats.js
Due: user-service, order-service

fix(stats): Agregar autenticación inter-servicio para endpoints de stats
  microservices/admin-dashboard-service/src/routes/adminStatsRoutes.js
  microservices/order-service/src/routes/stats.js
  microservices/review-service/src/routes/stats.js
  microservices/user-service/src/routes/stats.js
Due: user-service, order-service

fix: inter-service auth for stats endpoints
  microservices/order-service/src/app.js
  microservices/user-service/src/app.js
  microservices/user-service/src/middleware/auth.js
  microservices/user-service/src/routes/stats.js
Due: user-service, order-service

chore: trigger Railway rebuild for user-service and order-service
  microservices/order-service/.railway-trigger
  microservices/user-service/.railway-trigger
Due: user-service, order-service

chore: force rebuild Dockerfiles
  microservices/order-service/Dockerfile
  microservices/user-service/Dockerfile
Due: user-service, order-service

chore(version): bump user-service and order-service to 3.3.1
  microservices/order-service/package.json
  microservices/user-service/package.json
Due: user-service, order-service

fix(admin-stats): Generate service-specific JWTs for inter-service auth
  microservices/admin-dashboard-service/src/routes/adminStatsRoutes.js
Due: none

fix: Add /internal/users path and fallback in admin-dashboard
  microservices/admin-dashboard-service/src/routes/adminStatsRoutes.js
  microservices/user-service/src/app.js
Due: user-service

docs: Add comprehensive action plan for project improvements
  docs/PLAN_DE_ACCION.md
Due: none

fix(user-service): Add /stats route BEFORE /:id to fix route capture issue
  microservices/user-service/src/routes/users.js
Due: user-service

fix(order-service): Mount stats router BEFORE orders router to fix route capture
  microservices/order-service/src/app.js
Due: order-service

fix(order-service): Use Order.Order to access Mongoose model in stats
  microservices/order-service/src/routes/stats.js
Due: order-service

fix(user-service): add stats routes to server.js - resolves #52
  docs/RAILWAY_ENV_VARS.md
  microservices/user-service/src/server.js
  scripts/verify-services.sh
Due: none

fix(scripts): update verify-services.sh with correct Railway URLs
  scripts/verify-services.sh
Due: none

docs: add Phase 1 completion checklist
  docs/FASE1_CHECKLIST.md
Due: none

feat(security): Implementar mejoras de seguridad Fase 2
  docs/PLAN_DE_ACCION.md
  microservices/api-gateway/src/app.js
  microservices/auth-service/src/app.js
  microservices/auth-service/src/routes/auth.js
  microservices/auth-service/src/routes/refreshToken.js
  microservices/shared/config/index.js
  microservices/shared/middleware/csrf.js
  microservices/shared/middleware/index.js
  microservices/shared/middleware/security-headers.js
  microservices/shared/package.json
  microservices/shared/services/index.js
  microservices/shared/services/refreshTokenService.js
  scripts/fase1-completa.sh
  scripts/railway-update-secrets.sh
Due: auth-service

feat(architecture): Implementar mejoras de arquitectura Fase 3
  docs/FASE3_ARCHITECTURE_GUIDE.md
  microservices/shared/config/database-pool.js
  microservices/shared/config/index.js
  microservices/shared/utils/index.js
  microservices/shared/utils/resilient-http.js
  scripts/create-db-indexes.js
Due: none

feat(performance): Implementar optimizaciones de rendimiento Fase 4
  docs/FASE4_PERFORMANCE_GUIDE.md
  frontend/js/performance-optimizations.js
  microservices/product-service/src/services/advancedCacheService.js
  microservices/shared/middleware/compression.js
  microservices/shared/middleware/index.js
  microservices/shared/utils/cursor-pagination.js
  microservices/shared/utils/index.js
Due: product-service

feat(testing): Implementar tests y herramientas Fase 5/6
  admin-panel/js/report-export.js
  microservices/.eslintrc.json
  microservices/auth-service/src/__tests__/auth.integration.test.js
  microservices/auth-service/src/__tests__/auth.test.js
Due: none

feat(monitoring): Implementar sistema de monitoreo y alertas Fase 7
  microservices/admin-dashboard-service/src/routes/monitoringRoutes.js
  microservices/admin-dashboard-service/src/server.js
  microservices/shared/index.js
  microservices/shared/monitoring/alertService.js
  microservices/shared/monitoring/businessMetricsService.js
  microservices/shared/monitoring/index.js
  microservices/shared/monitoring/monitoringService.js
Due: none

fix(security): Unificar JWT_SECRET en todos los archivos .env
  scripts/verify-jwt-secrets.sh
Due: none

fix(auth): Add refreshTokenService stub to Dockerfile for Railway deploy
  docker/Dockerfile.auth-service
Due: none

fix(auth): Force rebuild v3.4.0 with refreshTokenService stub
  docker/Dockerfile.auth-service
Due: none

fix(auth): Add refreshTokenService stub to correct Dockerfile location
  microservices/auth-service/Dockerfile
Due: auth-service

fix(api-gateway): Add csrf middleware stub to Dockerfile
  microservices/api-gateway/Dockerfile
Due: none

fix(api-gateway): Force rebuild with csrf stub v2.2.0
  microservices/api-gateway/Dockerfile
Due: none

fix(api-gateway): Use repo root paths for Railway build context
  microservices/api-gateway/Dockerfile
Due: none

fix(api-gateway): Use relative paths - Railway Root Directory is /microservices/api-gateway
  microservices/api-gateway/Dockerfile
Due: none

fix(api-gateway): Remove Dockerfile from .dockerignore - was blocking Railway build
  microservices/api-gateway/.dockerignore
Due: none

chore: trigger redeploy for api-gateway
  microservices/api-gateway/DEPLOY_TRIGGER.txt
Due: none
