Repository laloaggro/Flores-Victoria-: changes, and which Codecov flags are due for each by the changed paths.
All: user-service, auth-service, product-service, cart-service, order-service

codecov.yml:

# Codecov Configuration for Flores Victoria
# https://docs.codecov.io/docs/codecov-yaml

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: 60%
        threshold: 2%
        if_not_found: success
        if_ci_failed: error
    
    patch:
      default:
        target: 70%
        threshold: 5%
        if_not_found: success

# Individual service coverage targets
flag_management:
  default_rules:
    carryforward: true
    
flags:
  user-service:
    paths:
      - microservices/user-service/
    carryforward: true
    
  auth-service:
    paths:
      - microservices/auth-service/
    carryforward: true
    
  product-service:
    paths:
      - microservices/product-service/
    carryforward: true
    
  cart-service:
    paths:
      - microservices/cart-service/
    carryforward: true
    
  order-service:
    paths:
      - microservices/order-service/
    carryforward: true

# Ignore patterns
ignore:
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/coverage/**"
  - "**/dist/**"
  - "**/build/**"
  - "**/*.test.js"
  - "**/*.spec.js"
  - "**/jest.setup.js"
  - "**/jest.config.js"
  - "**/mcp-helper.js"
  - "**/server.js"
  - "**/*.md"
  - "**/*.sh"
  - "development/**"
  - "admin-panel/**"
  - "shared/**"
  - "docs/**"

# Comment settings for pull requests
comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main
    - develop

# GitHub checks
github_checks:
  annotations: true

# Annotation settings
annotations:
  range: "50...100"
  round: down
  precision: 2

docs: Añadir resumen completo de tareas completadas
  RESUMEN_TAREAS_COMPLETADAS.md
Due: none

test: Add comprehensive tests for shared modules
  microservices/shared/__tests__/errors/AppError.test.js
  microservices/shared/__tests__/logging/logger.test.js
  microservices/shared/__tests__/middleware/error-handler.test.js
Due: none

test: Add controller tests for review and wishlist services
  microservices/review-service/src/__tests__/unit/reviewController.test.js
  microservices/wishlist-service/src/__tests__/unit/wishlistController.test.js
Due: none

test: Work in progress - Additional route tests
  microservices/wishlist-service/src/__tests__/integration/wishlist-routes.test.js
Due: none

refactor(product-service): separate controllers from routes
  microservices/api-gateway/src/__tests__/unit/middleware/request-id.test.js
  microservices/api-gateway/src/__tests__/unit/middleware/wellKnown.test.js
  microservices/api-gateway/src/routes/index.js
  microservices/product-service/src/__tests__/unit/productController.test.js
  microservices/product-service/src/controllers/productController.js
  microservices/product-service/src/routes/products.js
  microservices/wishlist-service/src/__tests__/integration/wishlist-routes.test.js
  microservices/wishlist-service/src/__tests__/unit/wishlistController.test.js
Due: product-service

refactor: migrate console statements to structured logger
  .eslintrc.js
  microservices/cart-service/src/controllers/cartController.js
  microservices/contact-service/src/controllers/contactController.js
  microservices/contact-service/src/models/Contact.js
  microservices/order-service/src/controllers/orderController.js
  microservices/product-service/src/controllers/productController.js
  microservices/review-service/src/controllers/reviewController.js
  microservices/review-service/src/models/Review.js
  microservices/user-service/src/models/User.js
  microservices/wishlist-service/src/controllers/wishlistController.js
Due: user-service, product-service, cart-service, order-service

chore: update critical dependencies
  microservices/auth-service/package-lock.json
  microservices/auth-service/package.json
  microservices/cart-service/src/controllers/cartController.js
  microservices/contact-service/package-lock.json
  microservices/contact-service/package.json
  microservices/contact-service/src/controllers/contactController.js
  microservices/contact-service/src/models/Contact.js
  microservices/order-service/src/controllers/orderController.js
  microservices/product-service/package-lock.json
  microservices/product-service/package.json
  microservices/product-service/src/controllers/productController.js
  microservices/promotion-service/package-lock.json
  microservices/promotion-service/package.json
  microservices/review-service/package-lock.json
  microservices/review-service/package.json
  microservices/review-service/src/controllers/reviewController.js
  microservices/review-service/src/models/Review.js
  microservices/user-service/src/models/User.js
  microservices/wishlist-service/src/controllers/wishlistController.js
  package-lock.json
  package.json
Due: user-service, auth-service, product-service, cart-service, order-service

refactor(api-gateway): migrate all routes to http-proxy-middleware
  eslint.config.js
  microservices/api-gateway/package.json
  microservices/api-gateway/src/routes/index.js
  microservices/auth-service/package.json
  microservices/cart-service/package.json
  microservices/contact-service/package.json
  microservices/order-service/package.json
  microservices/product-service/package.json
  microservices/review-service/package.json
  microservices/scripts/package.json
  microservices/shared/package.json
  microservices/user-service/package.json
  microservices/wishlist-service/package.json
Due: user-service, auth-service, product-service, cart-service, order-service

refactor(tests): migrar console a logger en tests unitarios
  microservices/contact-service/src/__tests__/unit/Contact.test.js
  microservices/order-service/src/__tests__/unit/orderController.test.js
  microservices/review-service/src/__tests__/unit/reviewController.test.js
  microservices/wishlist-service/src/__tests__/unit/wishlistController.test.js
Due: none

refactor: migrar console a logger en config y helpers
  microservices/cart-service/src/config/redis.js
  microservices/contact-service/src/config/database.js
  microservices/notification-service/src/mcp-helper.js
  microservices/order-service/src/config/database.js
  microservices/order-service/src/mcp-helper.js
  microservices/product-service/src/routes/products.js
  microservices/review-service/src/config/database.js
  microservices/review-service/src/mcp-helper.js
  microservices/user-service/src/config/database.js
  microservices/wishlist-service/src/config/redis.js
  microservices/wishlist-service/src/mcp-helper.js
Due: user-service, product-service, cart-service, order-service

refactor: migrar console a logger en archivos app.js
  microservices/auth-service/src/app.js
  microservices/contact-service/src/app.js
  microservices/product-service/src/app.js
  microservices/review-service/src/app.js
Due: auth-service, product-service

refactor(auth-service): migrar console a logger en archivos config
  microservices/auth-service/src/config/database-postgres.js
  microservices/auth-service/src/config/database-sqlite-backup.js
  microservices/auth-service/src/config/database.js
  microservices/auth-service/src/mcp-helper.js
Due: auth-service

refactor(product-service): migrar console a logger
  microservices/product-service/src/config/sentry.js
  microservices/product-service/src/mcp-helper.js
  microservices/product-service/src/services/cacheService.js
Due: product-service

refactor(api-gateway): completar migración de console a logger en app.js
  microservices/api-gateway/src/app.js
Due: none

refactor(api-gateway): completar migración a logger en utilidades de middleware
  microservices/api-gateway/src/middleware/cache.js
  microservices/api-gateway/src/middleware/rateLimiter.js
Due: none

fix(tests): resolver 19 tests de integración fallidos
  microservices/api-gateway/src/app.js
  microservices/api-gateway/src/routes/index.js
  tests/integration/complete-flows.test.js
Due: none

test(api-gateway): agregar tests completos de middleware
  microservices/api-gateway/src/__tests__/middleware/auth.test.js
  microservices/api-gateway/src/__tests__/middleware/cache.test.js
  microservices/api-gateway/src/__tests__/middleware/security.test.js
  microservices/api-gateway/src/mcp-helper.js
  microservices/api-gateway/src/middleware/auth.js
  microservices/api-gateway/src/middleware/security.js
  microservices/product-service/src/config/index.js
  microservices/review-service/src/config/index.js
Due: product-service

test: agregar suite completa de tests en todos los servicios
  microservices/api-gateway/src/__tests__/middleware/request-id.test.js
  microservices/api-gateway/src/__tests__/unit/config.test.js
  microservices/api-gateway/src/__tests__/unit/mcp-helper.test.js
  microservices/cart-service/src/__tests__/controllers/cartController.test.js
  microservices/product-service/src/__tests__/utils/productUtils.test.js
Due: none

test: agregar tests de controladores en todos los servicios
  microservices/contact-service/src/__tests__/controllers/Contact.test.js
  microservices/order-service/src/__tests__/controllers/orderController.test.js
  microservices/review-service/src/__tests__/controllers/reviewController.test.js
  microservices/shared/__tests__/jwt.test.js
  microservices/wishlist-service/src/__tests__/controllers/wishlistController.test.js
Due: none

fix(test): corregir mock en request-id.test.js y agregar scripts de traducción
  microservices/api-gateway/src/__tests__/middleware/request-id.test.js
  scripts/rewrite-commits-spanish.sh
  scripts/translate-commits-to-spanish.sh
Due: none

fix: corregir logger duplicado y agregar tests de middleware y utils
  microservices/auth-service/src/__tests__/routes/auth.test.js
  microservices/auth-service/src/app.js
  microservices/cart-service/src/__tests__/controllers/cartController.test.js
  microservices/cart-service/src/__tests__/middleware/common.test.js
  microservices/contact-service/src/__tests__/controllers/Contact.test.js
  microservices/order-service/src/__tests__/controllers/orderController.test.js
  microservices/review-service/src/__tests__/controllers/reviewController.test.js
  microservices/shared/__tests__/utils/jwt.test.js
  microservices/wishlist-service/src/__tests__/controllers/wishlistController.test.js
Due: auth-service

test: agregar tests para JWT utils y middleware adicionales
  microservices/api-gateway/src/__tests__/middleware/rate-limit.test.js
  microservices/api-gateway/src/__tests__/middleware/wellKnown.test.js
  microservices/cart-service/src/__tests__/utils/jwt.test.js
  microservices/order-service/src/__tests__/utils/jwt.test.js
  microservices/wishlist-service/src/__tests__/utils/jwt.test.js
Due: none

test: agregar tests de middleware, modelos y loggers
  microservices/auth-service/src/__tests__/unit/logger.test.js
  microservices/contact-service/src/__tests__/middleware/common.test.js
  microservices/order-service/src/__tests__/middleware/common.test.js
  microservices/order-service/src/__tests__/unit/logger.test.js
  microservices/product-service/src/__tests__/middleware/common.test.js
  microservices/product-service/src/__tests__/models/Category.test.js
  microservices/product-service/src/__tests__/models/Occasion.test.js
  microservices/product-service/src/__tests__/unit/logger.test.js
  microservices/review-service/src/__tests__/middleware/common.test.js
Due: none

test: agregar tests de config y loggers en todos los servicios
  microservices/api-gateway/src/__tests__/unit/logger.test.js
  microservices/auth-service/src/__tests__/unit/config.test.js
  microservices/cart-service/src/__tests__/unit/logger.test.js
  microservices/contact-service/src/__tests__/unit/logger.test.js
  microservices/order-service/src/__tests__/unit/config.test.js
  microservices/product-service/src/__tests__/unit/config.test.js
  microservices/review-service/src/__tests__/unit/logger.test.js
  microservices/user-service/src/__tests__/unit/logger.test.js
  microservices/wishlist-service/src/__tests__/unit/logger.test.js
Due: none

test: agregar tests de mcp-helper en todos los servicios
  microservices/cart-service/src/__tests__/unit/mcp-helper.test.js
  microservices/contact-service/src/__tests__/unit/mcp-helper.test.js
  microservices/order-service/src/__tests__/unit/mcp-helper.test.js
  microservices/review-service/src/__tests__/unit/mcp-helper.test.js
  microservices/user-service/src/__tests__/unit/mcp-helper.test.js
  microservices/wishlist-service/src/__tests__/unit/mcp-helper.test.js
Due: none

test: agregar tests de configuración en servicios restantes
  microservices/cart-service/src/__tests__/unit/config.test.js
  microservices/contact-service/src/__tests__/unit/config.test.js
  microservices/review-service/src/__tests__/unit/config.test.js
  microservices/user-service/src/__tests__/unit/config.test.js
  microservices/wishlist-service/src/__tests__/unit/config.test.js
Due: none

fix: alcanzar 36.82% de cobertura de tests (+35 tests aprobados, -47 fallos)
  jest.config.js
  microservices/api-gateway/src/__tests__/middleware/rate-limit.test.js
  microservices/api-gateway/src/__tests__/middleware/wellKnown.test.js
  microservices/auth-service/src/__tests__/routes/auth.test.js
  microservices/auth-service/src/__tests__/unit/config.test.js
  microservices/cart-service/src/__tests__/middleware/common.test.js
  microservices/contact-service/src/__tests__/middleware/common.test.js
  microservices/contact-service/src/__tests__/routes/contact.test.js
  microservices/order-service/src/__tests__/middleware/common.test.js
  microservices/order-service/src/__tests__/utils/jwt.test.js
  microservices/product-service/src/__tests__/middleware/common.test.js
  microservices/product-service/src/__tests__/models/Category.test.js
  microservices/product-service/src/__tests__/models/Occasion.test.js
  microservices/product-service/src/__tests__/routes/products.test.js
  microservices/product-service/src/__tests__/unit/config.test.js
  microservices/review-service/src/__tests__/middleware/common.test.js
  microservices/review-service/src/__tests__/routes/reviews.test.js
  microservices/shared/__tests__/utils/jwt.test.js
  microservices/wishlist-service/src/__tests__/routes/wishlist.test.js
Due: none

refactor: migrar console.log/error a logger estructurado
  microservices/cart-service/src/mcp-helper.js
  microservices/order-service/src/mcp-helper.js
  microservices/product-service/src/middleware/imageHandler.js
  microservices/product-service/src/services/cacheService.js
  microservices/review-service/src/config/rabbitmq.js
  microservices/review-service/src/mcp-helper.js
  microservices/review-service/src/middleware/common.js
  microservices/wishlist-service/src/mcp-helper.js
Due: product-service

test: increase coverage to 37.93% - add route and model tests
  microservices/api-gateway/src/middleware/rate-limit.js
  microservices/cart-service/src/__tests__/controllers/cartController.test.js
  microservices/cart-service/src/__tests__/models/Cart.test.js
  microservices/cart-service/src/__tests__/routes/cart.test.js
  microservices/notification-service/src/__tests__/mcp-helper.test.js
  microservices/order-service/src/__tests__/models/Order.test.js
  microservices/order-service/src/__tests__/routes/orders.test.js
  microservices/wishlist-service/src/__tests__/models/Wishlist.test.js
Due: none

test: achieve 40% coverage milestone - add 7 test files
  microservices/auth-service/src/__tests__/routes/auth.test.js
  microservices/contact-service/src/__tests__/controllers/contactController.test.js
  microservices/product-service/src/__tests__/controllers/productController.test.js
  microservices/product-service/src/__tests__/middleware/imageHandler.test.js
  microservices/product-service/src/__tests__/middleware/validation.test.js
  microservices/user-service/src/__tests__/routes/users.test.js
Due: none

refactor: centralize MCP helper to eliminate code duplication
  microservices/api-gateway/src/__tests__/unit/mcp-helper.test.js
  microservices/api-gateway/src/mcp-helper.js
  microservices/auth-service/src/mcp-helper.js
  microservices/cart-service/src/mcp-helper.js
  microservices/contact-service/src/mcp-helper.js
  microservices/notification-service/src/mcp-helper.js
  microservices/order-service/src/mcp-helper.js
  microservices/product-service/src/mcp-helper.js
  microservices/review-service/src/mcp-helper.js
  microservices/shared/mcp/index.js
  microservices/user-service/src/mcp-helper.js
  microservices/wishlist-service/src/mcp-helper.js
Due: none

docs: add Swagger/OpenAPI documentation to API endpoints
  microservices/cart-service/src/routes/cart.js
  microservices/product-service/src/routes/products.js
  microservices/shared/swagger/config.js
Due: product-service, cart-service

docs: complete Swagger/OpenAPI documentation for core services
  microservices/auth-service/src/routes/auth.js
  microservices/order-service/src/routes/orders.js
  microservices/user-service/src/routes/users.js
Due: user-service, auth-service, order-service

perf: implement database indexes and cache optimization
  docs/PERFORMANCE_OPTIMIZATION.md
  microservices/order-service/src/models/Order.js
  microservices/product-service/src/routes/products.js
  microservices/product-service/src/services/cacheService.js
  microservices/shared/cache/config.js
  microservices/shared/database/postgres-indexes.sql
  microservices/user-service/src/models/User.js
Due: user-service, product-service, order-service

feat(health-checks): sistema unificado de health checks
  docs/HEALTH_CHECKS.md
  microservices/api-gateway/src/app.js
  microservices/auth-service/src/app.js
  microservices/cart-service/src/middleware/common.js
  microservices/contact-service/src/middleware/common.js
  microservices/order-service/src/middleware/common.js
  microservices/product-service/src/middleware/common.js
  microservices/review-service/src/middleware/common.js
  microservices/shared/middleware/health-check.js
  microservices/user-service/src/app.js
  microservices/wishlist-service/src/app.js
Due: user-service, auth-service, product-service, cart-service, order-service

feat(validation): sistema unificado de validación con Joi
  docs/VALIDATION.md
  microservices/auth-service/src/validators/authSchemas.js
  microservices/cart-service/src/validators/cartSchemas.js
  microservices/contact-service/package-lock.json
  microservices/contact-service/package.json
  microservices/contact-service/src/validators/contactSchemas.js
  microservices/order-service/src/validators/orderSchemas.js
  microservices/product-service/src/middleware/validation.js
  microservices/review-service/package-lock.json
  microservices/review-service/package.json
  microservices/review-service/src/validators/reviewSchemas.js
  microservices/shared/middleware/validation.js
  microservices/user-service/src/validators/userSchemas.js
  microservices/wishlist-service/package-lock.json
  microservices/wishlist-service/package.json
  microservices/wishlist-service/src/validators/wishlistSchemas.js
  scripts/install-joi.sh
Due: user-service, auth-service, product-service, cart-service, order-service

feat(security): sistema avanzado de rate limiting con Redis
  docs/RATE_LIMITING.md
  microservices/api-gateway/src/app.js
  microservices/api-gateway/src/routes/aiImages.js
  microservices/api-gateway/src/routes/index.js
  microservices/auth-service/package-lock.json
  microservices/auth-service/package.json
  microservices/cart-service/package-lock.json
  microservices/cart-service/package.json
  microservices/contact-service/package-lock.json
  microservices/contact-service/package.json
  microservices/order-service/package-lock.json
  microservices/order-service/package.json
  microservices/product-service/package-lock.json
  microservices/product-service/package.json
  microservices/review-service/package-lock.json
  microservices/review-service/package.json
  microservices/shared/middleware/rate-limiter.js
  microservices/user-service/package-lock.json
  microservices/user-service/package.json
  microservices/wishlist-service/package-lock.json
  microservices/wishlist-service/package.json
  package-lock.json
  package.json
  scripts/install-rate-limit-deps.sh
Due: user-service, auth-service, product-service, cart-service, order-service

feat(infrastructure): logging mejorado y sistema de migraciones
  docs/LOGGING.md
  docs/MIGRATIONS.md
  microservices/shared/database/knexfile.js
  microservices/shared/database/migrate-mongo-config.js
  microservices/shared/logging/logger.js
  microservices/shared/logging/package-lock.json
  microservices/shared/logging/package.json
  microservices/shared/package-lock.json
  microservices/shared/package.json
  scripts/migrate-mongo.sh
  scripts/migrate-postgres.sh
Due: none

docs(readme): actualizar README con mejoras v3.0
  README.md
Due: none

fix: corregir logger.js corrupto y mejorar robustez de tests
  microservices/api-gateway/src/routes/aiImages.js
  microservices/auth-service/src/__tests__/integration/auth.test.js
  microservices/shared/logging/logger.js
Due: none
