Repository laloaggro/Flores-Victoria-: changes, and which Codecov flags are due for each by the changed paths.
All: user-service, auth-service, product-service, cart-service, order-service

fix(product-service): make metricsEndpoint a factory function
  microservices/product-service/Dockerfile
  microservices/product-service/src/shared/middleware/metrics.js
Due: product-service

fix(product-service): configure Valkey/Redis with VALKEY_URL support
  microservices/product-service/src/app.js
  microservices/product-service/src/services/cacheService.js
Due: product-service

feat(valkey): add Valkey service configuration for Railway
  config/valkey/valkey.conf
  docker/Dockerfile.valkey
  microservices/valkey/Dockerfile
  microservices/valkey/README.md
  microservices/valkey/railway.toml
Due: none

fix(valkey): use shell form CMD to expand PORT variable
  microservices/valkey/Dockerfile
Due: none

fix(valkey): fix railway.toml startCommand to expand PORT variable
  microservices/valkey/railway.toml
Due: none

refactor(shared): prioritize VALKEY_URL over REDIS_URL
  microservices/shared/cache/RedisPool.js
  microservices/shared/cache/redis-cache.js
  microservices/shared/middleware/endpoint-limiters.js
  microservices/shared/middleware/rate-limiter.js
Due: none

feat(auth): implement complete RBAC system with 6 roles and 40+ permissions
  microservices/auth-service/src/app.js
  microservices/auth-service/src/routes/auth.js
  microservices/auth-service/src/routes/roles.js
  microservices/product-service/src/routes/products.js
  microservices/product-service/src/shared/middleware/authorize.js
  microservices/shared/config/roles.js
  microservices/shared/middleware/authorize.js
  microservices/shared/middleware/index.js
  microservices/user-service/src/middleware/auth.js
Due: user-service, auth-service, product-service

feat: add audit logging, Santiago Norte delivery zones, and 2FA integration
  microservices/auth-service/src/app.js
  microservices/auth-service/src/routes/auth.js
  microservices/auth-service/src/routes/roles.js
  microservices/order-service/src/app.js
  microservices/order-service/src/routes/delivery.js
  microservices/shared/config/deliveryZones.js
  microservices/shared/services/auditService.js
  microservices/shared/services/index.js
  microservices/shared/services/twoFactorService.js
Due: auth-service, order-service

feat: WhatsApp API, Analytics y Order Tracking
  microservices/notification-service/src/services/whatsapp.service.js
  microservices/order-service/src/routes/analytics.js
  microservices/order-service/src/routes/tracking.js
  microservices/shared/services/analyticsService.js
  microservices/shared/services/index.js
  microservices/shared/services/orderTrackingService.js
Due: order-service

feat: Cupones, Fidelización, Reseñas y Notificaciones Programadas
  microservices/notification-service/src/routes/reminders.js
  microservices/notification-service/src/services/scheduled-notifications.service.js
  microservices/promotion-service/src/routes/coupons.js
  microservices/promotion-service/src/routes/loyalty.js
  microservices/promotion-service/src/services/coupon.service.js
  microservices/promotion-service/src/services/loyalty.service.js
  microservices/review-service/src/services/enhanced-review.service.js
Due: none

feat: Dashboard Engagement y Widgets Frontend
  admin-panel/public/dashboard-engagement.html
  admin-panel/public/dashboard.html
  frontend/js/engagement-widgets.js
  microservices/promotion-service/src/routes/metrics.js
  microservices/promotion-service/src/services/engagement-metrics.service.js
Due: none

feat: Sistema Pagos Chile (Flow/Khipu), Inventario Avanzado y Reportes Exportables
  admin-panel/public/reports.html
  microservices/admin-dashboard-service/src/routes/reports.js
  microservices/admin-dashboard-service/src/services/reports.service.js
  microservices/payment-service/src/routes/chilean-payments.js
  microservices/payment-service/src/services/chilean-payments.service.js
  microservices/product-service/src/routes/inventory.js
  microservices/product-service/src/services/inventory.service.js
Due: product-service

feat: Sistema de Búsqueda Avanzada con Fuzzy Search y Autocompletado
  frontend/js/search-widget.js
  microservices/product-service/src/routes/search.js
  microservices/product-service/src/services/search.service.js
Due: product-service

docs: Actualización completa del README con nuevas funcionalidades
  README.md
Due: none

feat: Sistema de Suscripciones de flores
  admin-panel/subscriptions.html
  frontend/js/widgets/subscription-widget.js
  frontend/subscriptions.html
  microservices/promotion-service/server.js
  microservices/promotion-service/src/routes/subscriptions.js
  microservices/promotion-service/src/services/subscriptions.service.js
Due: none

feat: Sistema de Chat en Vivo con WebSockets
  admin-panel/chat.html
  frontend/js/widgets/live-chat-widget.js
  microservices/notification-service/package.json
  microservices/notification-service/src/server.js
  microservices/notification-service/src/services/live-chat.service.js
  microservices/notification-service/src/services/websocket-chat.server.js
Due: none

feat: Notificaciones Push + Documentación actualizada v3.2.0
  CHANGELOG.md
  README.md
  frontend/js/push-notifications.js
  frontend/sw-push.js
  microservices/notification-service/src/routes/push.routes.js
  microservices/notification-service/src/server.js
  microservices/notification-service/src/services/push-notification.service.js
Due: none

feat: Sistema de Tarjetas de Regalo, Reservas de Eventos y Recomendaciones
  admin-panel/public/gift-cards.html
  frontend/eventos.html
  frontend/gift-cards.html
  frontend/js/gift-cards.js
  frontend/js/recommendations.js
  microservices/order-service/src/routes/event-reservations.js
  microservices/order-service/src/services/event-reservations.service.js
  microservices/product-service/src/routes/recommendations.js
  microservices/product-service/src/services/recommendations.service.js
  microservices/promotion-service/src/routes/gift-cards.js
  microservices/promotion-service/src/services/gift-cards.service.js
Due: product-service, order-service

docs: Actualizar README y CHANGELOG con v3.3.0 (Gift Cards, Eventos, Recomendaciones)
  CHANGELOG.md
  README.md
Due: none

fix: Integrar rutas de Gift Cards en promotion-service y corregir imports
  microservices/order-service/src/server.js
  microservices/product-service/package-lock.json
  microservices/product-service/package.json
  microservices/promotion-service/package-lock.json
  microservices/promotion-service/package.json
  microservices/promotion-service/server.js
  microservices/shared/package-lock.json
  microservices/shared/package.json
Due: product-service

feat: Integrar rutas de Gift Cards, Eventos y Recomendaciones en API Gateway
  microservices/api-gateway/src/routes/index.js
  microservices/order-service/src/app.js
  microservices/product-service/src/app.js
Due: product-service, order-service

fix: Actualizar Dockerfile de promotion-service para incluir server.js y routes.js
  microservices/promotion-service/Dockerfile
Due: none

fix: Mejorar logging y detección de puerto en promotion-service v3.3.0
  microservices/promotion-service/server.js
Due: none

fix: Corregir Dockerfile de promotion-service para usar server.js correcto
  microservices/promotion-service/Dockerfile
  microservices/promotion-service/server.js
Due: none

chore: Force Railway rebuild for promotion-service
  microservices/promotion-service/server.js
Due: none

fix(promotion): Dockerfile copy order for gift-cards routes v3.3.0
  microservices/promotion-service/Dockerfile
Due: none

fix(promotion): Force rebuild with verbose startup v3.3.0
  microservices/promotion-service/Dockerfile
  microservices/promotion-service/server.js
Due: none

fix(promotion): simplified Dockerfile for Railway v3.3.0
  microservices/promotion-service/Dockerfile
Due: none

feat(promotion): add railway.json for proper deployment config
  microservices/promotion-service/railway.json
Due: none

fix(product): add authorize middleware stub v3.3.0
  microservices/product-service/Dockerfile
Due: product-service

fix(promotion): add authorize middleware stub v3.3.0
  microservices/promotion-service/Dockerfile
Due: none

fix: complete authorize middleware stub with ROLES, PERMISSIONS v3.3.0
  microservices/product-service/Dockerfile
  microservices/promotion-service/Dockerfile
Due: product-service

fix(promotion): downgrade uuid to v9 for CommonJS compatibility
  microservices/promotion-service/package.json
Due: none

fix(promotion): update package-lock with uuid v9
  microservices/promotion-service/package-lock.json
Due: none

fix: mock Joi without external dependency + authorize stubs v3.3.0
  microservices/product-service/Dockerfile
  microservices/user-service/Dockerfile
Due: user-service, product-service

feat(api-gateway): add gift-cards routes to services.routes.js
  microservices/api-gateway/src/routes/services.routes.js
Due: none

fix: complete Joi mock with trim/when + authorize stub for Railway v3.3.0
  microservices/order-service/Dockerfile
  microservices/product-service/Dockerfile
Due: product-service, order-service

fix(docker): add joi mock to node_modules for Railway deploy
  microservices/order-service/Dockerfile
  microservices/product-service/Dockerfile
Due: product-service, order-service

fix(order-service): remove Dockerfile.railway to force correct build
  microservices/order-service/Dockerfile.railway
Due: order-service

fix(order-service): force fresh build with event-reservations v3.3.0
  microservices/order-service/Dockerfile
Due: order-service

Path conditions:
  user-service: any of: microservices/user-service/, but not: **/__tests__/**, **/node_modules/**, **/coverage/**, **/dist/**, **/build/**, **/*.test.js, **/*.spec.js, **/jest.setup.js, **/jest.config.js, **/mcp-helper.js, **/server.js, **/*.md, **/*.sh, development/**, admin-panel/**, shared/**, docs/**
  auth-service: any of: microservices/auth-service/, but not: **/__tests__/**, **/node_modules/**, **/coverage/**, **/dist/**, **/build/**, **/*.test.js, **/*.spec.js, **/jest.setup.js, **/jest.config.js, **/mcp-helper.js, **/server.js, **/*.md, **/*.sh, development/**, admin-panel/**, shared/**, docs/**
  product-service: any of: microservices/product-service/, but not: **/__tests__/**, **/node_modules/**, **/coverage/**, **/dist/**, **/build/**, **/*.test.js, **/*.spec.js, **/jest.setup.js, **/jest.config.js, **/mcp-helper.js, **/server.js, **/*.md, **/*.sh, development/**, admin-panel/**, shared/**, docs/**
  cart-service: any of: microservices/cart-service/, but not: **/__tests__/**, **/node_modules/**, **/coverage/**, **/dist/**, **/build/**, **/*.test.js, **/*.spec.js, **/jest.setup.js, **/jest.config.js, **/mcp-helper.js, **/server.js, **/*.md, **/*.sh, development/**, admin-panel/**, shared/**, docs/**
  order-service: any of: microservices/order-service/, but not: **/__tests__/**, **/node_modules/**, **/coverage/**, **/dist/**, **/build/**, **/*.test.js, **/*.spec.js, **/jest.setup.js, **/jest.config.js, **/mcp-helper.js, **/server.js, **/*.md, **/*.sh, development/**, admin-panel/**, shared/**, docs/**
