Repository laloaggro/Flores-Victoria-: changes, and which Codecov flags are due for each by the changed paths.
All: user-service, auth-service, product-service, cart-service, order-service

fix: Remove [start] section from nixpacks.toml to use railway.json startCommand
  microservices/product-service/nixpacks.toml
  nixpacks.toml
Due: product-service

fix: Add winston dependencies to shared module and install before copying
  microservices/shared/package.json
  nixpacks.toml
Due: none

feat: Configure all microservices for Railway deployment with Nixpacks
  microservices/api-gateway/nixpacks.toml
  microservices/api-gateway/railway.json
  microservices/auth-service/nixpacks.toml
  microservices/cart-service/nixpacks.toml
  microservices/cart-service/railway.json
  microservices/contact-service/nixpacks.toml
  microservices/contact-service/railway.json
  microservices/notification-service/railway.json
  microservices/order-service/nixpacks.toml
  microservices/order-service/railway.json
  microservices/review-service/nixpacks.toml
  microservices/review-service/railway.json
  microservices/user-service/nixpacks.toml
  microservices/user-service/railway.json
  microservices/wishlist-service/nixpacks.toml
  microservices/wishlist-service/railway.json
Due: user-service, auth-service, cart-service, order-service

docs: Add comprehensive Railway services deployment guide
  RAILWAY_SERVICES_DEPLOYMENT.md
Due: none

fix: Add explicit start command to nixpacks to avoid prestart hook
  microservices/api-gateway/nixpacks.toml
  microservices/auth-service/nixpacks.toml
  microservices/cart-service/nixpacks.toml
  microservices/contact-service/nixpacks.toml
  microservices/order-service/nixpacks.toml
  microservices/review-service/nixpacks.toml
  microservices/user-service/nixpacks.toml
  microservices/wishlist-service/nixpacks.toml
  nixpacks.toml
Due: user-service, auth-service, cart-service, order-service

fix: Update auth-service nixpacks.toml for Root Directory context
  microservices/auth-service/nixpacks.toml
Due: auth-service

chore: Trigger Railway redeploy for auth-service with nixpacks
  microservices/auth-service/Dockerfile.old
  microservices/auth-service/src/server.js
Due: auth-service

feat: Add nixpacks-auth.toml for auth-service with root directory empty
  nixpacks-auth.toml
Due: none

fix: Update root nixpacks.toml for auth-service deployment
  nixpacks.toml
Due: none

fix: Configure nixpacks.toml for auth-service with proper install steps
  nixpacks.toml
Due: none

fix: Correct nixpacks install paths - all commands start from /app/
  nixpacks.toml
Due: none

fix: Force Railway to use updated nixpacks.toml (cache bust)
  nixpacks.toml
Due: none

feat: Add Railway deployment automation scripts
  scripts/QUICK_START.md
  scripts/RAILWAY_DEPLOYMENT_README.md
  scripts/railway-deploy-all-services.sh
  scripts/railway-deploy-api-gateway.sh
  scripts/railway-deploy-cart-service.sh
  scripts/railway-deploy-contact-service.sh
  scripts/railway-deploy-order-service.sh
  scripts/railway-deploy-review-service.sh
  scripts/railway-deploy-user-service.sh
  scripts/railway-deploy-wishlist-service.sh
  scripts/railway-interactive-deploy.sh
  scripts/railway-verify-all-services.sh
Due: none

docs: Add comprehensive Railway deployment guide
  RAILWAY_DEPLOYMENT_GUIDE.md
Due: none

fix: Disable user-service Dockerfile to use nixpacks
  microservices/user-service/Dockerfile.old
Due: user-service

fix: Disable Dockerfiles for remaining services (cart, order, wishlist, review, contact) to use nixpacks
  microservices/cart-service/Dockerfile.old
  microservices/contact-service/Dockerfile.old
  microservices/order-service/Dockerfile.old
  microservices/review-service/Dockerfile.old
  microservices/wishlist-service/Dockerfile.old
Due: cart-service, order-service

docs: Crear guías completas de configuración Railway
  RAILWAY_CONFIGURATION_GUIDE.md
  RAILWAY_COPY_PASTE.md
  RAILWAY_SERVICES_DEPLOYMENT.md
  RAILWAY_SERVICES_STATUS_REPORT.md
  microservices/cart-service/Dockerfile
  microservices/contact-service/Dockerfile
  microservices/order-service/Dockerfile
  microservices/review-service/Dockerfile
  microservices/wishlist-service/Dockerfile
  scripts/railway-quick-status.sh
Due: cart-service, order-service

Fix: Update nixpacks.toml with absolute paths for user-service
  microservices/user-service/nixpacks.toml
Due: user-service

Fix: USER-SERVICE use PORT env variable (Railway standard)
  microservices/user-service/src/config/index.js
Due: user-service

Fix: Configure all remaining services (cart, order, wishlist, review, contact) - absolute paths in nixpacks.toml and correct PORT defaults
  microservices/cart-service/nixpacks.toml
  microservices/cart-service/src/config/index.js
  microservices/contact-service/nixpacks.toml
  microservices/contact-service/src/config/index.js
  microservices/order-service/nixpacks.toml
  microservices/review-service/nixpacks.toml
  microservices/review-service/src/config/index.js
  microservices/wishlist-service/nixpacks.toml
  microservices/wishlist-service/src/config/index.js
Due: cart-service, order-service

Remove Dockerfile.railway files to force nixpacks usage for all services
  COMPETENCIAS_TECNICAS_MAURICIO_GARAY.md
  USER_SERVICE_FIX_URGENTE.md
  microservices/cart-service/Dockerfile.railway
  microservices/wishlist-service/Dockerfile.railway
Due: cart-service

Remove ALL remaining Dockerfile.railway files from all services
  microservices/api-gateway/Dockerfile.railway
  microservices/auth-service/Dockerfile.railway
  microservices/notification-service/Dockerfile.railway
  microservices/user-service/Dockerfile.railway
Due: user-service, auth-service

Fix: Update railway.toml startCommand with correct paths for monorepo
  microservices/cart-service/railway.toml
  microservices/contact-service/railway.toml
  microservices/order-service/railway.toml
  microservices/review-service/railway.toml
  microservices/wishlist-service/railway.toml
Due: cart-service, order-service

feat: Add standardized service creation system
  microservices/SERVICE_TEMPLATE.md
  scripts/create-service.sh
Due: none

feat: Add admin-dashboard-service with monitoring capabilities
  microservices/admin-dashboard-service/.env.example
  microservices/admin-dashboard-service/README.md
  microservices/admin-dashboard-service/nixpacks.toml
  microservices/admin-dashboard-service/package-lock.json
  microservices/admin-dashboard-service/package.json
  microservices/admin-dashboard-service/railway.json
  microservices/admin-dashboard-service/railway.toml
  microservices/admin-dashboard-service/src/__tests__/server.test.js
  microservices/admin-dashboard-service/src/config/index.js
  microservices/admin-dashboard-service/src/controllers/dashboardController.js
  microservices/admin-dashboard-service/src/routes/dashboardRoutes.js
  microservices/admin-dashboard-service/src/server.js
  microservices/admin-dashboard-service/src/services/serviceMonitor.js
  microservices/shared/package-lock.json
Due: none

docs: Add comprehensive admin dashboard documentation
  docs/ADMIN_DASHBOARD_SERVICE.md
Due: none

fix(admin-dashboard): corregir startCommand en railway.toml
  microservices/admin-dashboard-service/railway.toml
Due: none

fix(admin-dashboard): usar rutas relativas en nixpacks.toml
  microservices/admin-dashboard-service/nixpacks.toml
Due: none

fix(admin-dashboard): forzar rebuild en Railway
  microservices/admin-dashboard-service/railway.toml
Due: none

fix(admin-dashboard): ajustar nixpacks.toml para Root Directory microservices
  microservices/admin-dashboard-service/nixpacks.toml
Due: none

fix(admin-dashboard): agregar railway.json en raíz de microservices para forzar nixpacks
  microservices/railway.json
Due: none

fix(microservices): usar symlink en Dockerfile para evitar conflicto de copia
  microservices/Dockerfile
  microservices/railway.json
Due: none

fix(admin-dashboard): configurar railway.toml con SERVICE_NAME correcto
  microservices/railway.toml
Due: none

docs(admin-dashboard): agregar guía de variables de entorno para Railway
  microservices/admin-dashboard-service/RAILWAY_ENV_VARS.md
  microservices/admin-dashboard-service/generate-railway-vars.sh
Due: none

fix(admin-dashboard): actualizar script CLI con sintaxis Railway v4
  microservices/admin-dashboard-service/setup-railway-cli.sh
Due: none

docs(admin-dashboard): agregar estado actual de configuración
  microservices/admin-dashboard-service/STATUS.md
Due: none

feat(admin-dashboard): agregar visualización HTML del dashboard
  microservices/admin-dashboard-service/dashboard.html
Due: none

feat(admin-dashboard): agregar controles para reiniciar, detener e iniciar servicios
  microservices/admin-dashboard-service/dashboard.html
  microservices/admin-dashboard-service/src/routes/dashboardRoutes.js
  microservices/admin-dashboard-service/src/services/serviceMonitor.js
Due: none

Path conditions:
  user-service: any of: microservices/user-service/, but not: **/__tests__/**, **/node_modules/**, **/coverage/**, **/dist/**, **/build/**, **/*.test.js, **/*.spec.js, **/jest.setup.js, **/jest.config.js, **/mcp-helper.js, **/server.js, **/*.md, **/*.sh, development/**, admin-panel/**, shared/**, docs/**
  auth-service: any of: microservices/auth-service/, but not: **/__tests__/**, **/node_modules/**, **/coverage/**, **/dist/**, **/build/**, **/*.test.js, **/*.spec.js, **/jest.setup.js, **/jest.config.js, **/mcp-helper.js, **/server.js, **/*.md, **/*.sh, development/**, admin-panel/**, shared/**, docs/**
  product-service: any of: microservices/product-service/, but not: **/__tests__/**, **/node_modules/**, **/coverage/**, **/dist/**, **/build/**, **/*.test.js, **/*.spec.js, **/jest.setup.js, **/jest.config.js, **/mcp-helper.js, **/server.js, **/*.md, **/*.sh, development/**, admin-panel/**, shared/**, docs/**
  cart-service: any of: microservices/cart-service/, but not: **/__tests__/**, **/node_modules/**, **/coverage/**, **/dist/**, **/build/**, **/*.test.js, **/*.spec.js, **/jest.setup.js, **/jest.config.js, **/mcp-helper.js, **/server.js, **/*.md, **/*.sh, development/**, admin-panel/**, shared/**, docs/**
  order-service: any of: microservices/order-service/, but not: **/__tests__/**, **/node_modules/**, **/coverage/**, **/dist/**, **/build/**, **/*.test.js, **/*.spec.js, **/jest.setup.js, **/jest.config.js, **/mcp-helper.js, **/server.js, **/*.md, **/*.sh, development/**, admin-panel/**, shared/**, docs/**
