Repository laloaggro/Flores-Victoria-: changes, and which Codecov flags are due for each by the changed paths.
All: user-service, auth-service, product-service, cart-service, order-service

fix(order-service): update version to 3.3.0-events with buildTime
  microservices/order-service/src/app.js
Due: order-service

fix(order-service): remove nixpacks.toml that was running old server.simple.js
  microservices/order-service/nixpacks.toml
Due: order-service

feat: move event-reservations to promotion-service for Railway compatibility
  microservices/api-gateway/src/routes/index.js
  microservices/promotion-service/server.js
  microservices/promotion-service/src/routes/event-reservations.js
Due: none

fix(product-service): remove nixpacks.toml and Dockerfile.railway for correct deployment
  microservices/product-service/Dockerfile.railway
  microservices/product-service/nixpacks.toml
Due: product-service

fix: add requirePermission to authorize stubs + recommendations to promotion-service v3.3.0
  microservices/api-gateway/src/routes/index.js
  microservices/order-service/Dockerfile
  microservices/product-service/Dockerfile
  microservices/promotion-service/server.js
  microservices/promotion-service/src/routes/recommendations.js
Due: product-service, order-service

fix(product-service): add Joi.required() as direct function for when() contexts
  microservices/product-service/Dockerfile
Due: product-service

fix(services): fix error-handler to use statusCode instead of status string
  microservices/order-service/Dockerfile
  microservices/product-service/Dockerfile
Due: product-service, order-service

fix(product-service): add Joi.required() to validation stub
  microservices/product-service/Dockerfile
Due: product-service

fix(order-service): force rebuild + add Joi.required() to stubs
  microservices/order-service/Dockerfile
Due: order-service

fix(deploy): remove obsolete Dockerfile.railway files
  microservices/auth-service/Dockerfile.railway
  microservices/user-service/Dockerfile.railway
Due: user-service, auth-service

fix(auth-service): update railway.json to use Dockerfile instead of Dockerfile.railway
  microservices/auth-service/nixpacks.toml
  microservices/auth-service/railway.json
Due: auth-service

fix(dockerfiles): use correct @flores-victoria/shared module path in node_modules
  microservices/auth-service/Dockerfile
  microservices/product-service/Dockerfile
Due: auth-service, product-service

fix(auth-service): add security and rate-limiter stubs to Dockerfile
  microservices/auth-service/Dockerfile
Due: auth-service

fix(auth-service): add config/roles, services/auditService stubs
  microservices/auth-service/Dockerfile
Due: auth-service

fix(auth-service): add commonSchemas to validation stub
  microservices/auth-service/Dockerfile
Due: auth-service

fix(auth-service): add redis package dependency
  microservices/auth-service/package.json
Due: auth-service

fix(auth-service): update package-lock.json with redis dependency
  microservices/auth-service/package-lock.json
Due: auth-service

fix(auth-service): security stubs use factory pattern (opts) => middleware
  microservices/auth-service/Dockerfile
Due: auth-service

refactor: migrate from REDIS to VALKEY environment variables across all services
  microservices/admin-dashboard-service/src/config/index.js
  microservices/admin-dashboard-service/src/server.js
  microservices/api-gateway/jest.setup.js
  microservices/api-gateway/src/app.js
  microservices/api-gateway/src/middleware/rate-limit.js
  microservices/api-gateway/src/middleware/rate-limiter-advanced.js
  microservices/auth-service/src/app.js
  microservices/cart-service/jest.setup.js
  microservices/cart-service/src/config/index.js
  microservices/cart-service/src/config/redis.js
  microservices/contact-service/jest.setup.js
  microservices/notification-service/src/config.js
  microservices/notification-service/src/server.js
  microservices/order-service/src/app.js
  microservices/product-service/src/app.js
  microservices/product-service/src/services/cacheService.js
  microservices/review-service/jest.setup.js
  microservices/review-service/src/config/index.js
  microservices/shared/cache/RedisPool.js
  microservices/shared/cache/redis-cache.js
  microservices/shared/middleware/endpoint-limiters.js
  microservices/shared/middleware/rate-limiter.js
  microservices/user-service/src/app.js
  microservices/wishlist-service/jest.setup.js
  microservices/wishlist-service/src/config/index.js
  microservices/wishlist-service/src/config/redis.js
Due: user-service, auth-service, product-service, cart-service, order-service

refactor: update DISABLE/USE flags from REDIS to VALKEY
  microservices/shared/cache/RedisPool.js
  microservices/shared/middleware/rate-limiter.js
Due: none

fix: add shared module stubs to all service Dockerfiles and fix redisUrl/valkeyUrl reference
  docker/Dockerfile.admin-dashboard-service
  docker/Dockerfile.auth-service
  docker/Dockerfile.cart-service
  docker/Dockerfile.contact-service
  docker/Dockerfile.notification-service
  docker/Dockerfile.order-service
  docker/Dockerfile.payment-service
  docker/Dockerfile.promotion-service
  docker/Dockerfile.review-service
  docker/Dockerfile.user-service
  docker/Dockerfile.wishlist-service
  microservices/api-gateway/src/app.js
  microservices/user-service/src/middleware/auth.js
Due: user-service

fix: corregir requestId factory pattern y agregar metrics-simple stub
  docker/Dockerfile.notification-service
  docker/Dockerfile.payment-service
  microservices/contact-service/src/shared/middleware/request-id.js
  microservices/notification-service/Dockerfile
  microservices/order-service/src/shared/middleware/request-id.js
  microservices/payment-service/Dockerfile
  microservices/user-service/src/shared/middleware/request-id.js
Due: user-service, order-service

fix(railway): Corregir stubs shared para deployments
  docker/Dockerfile.contact-service
  docker/Dockerfile.product-service
  docker/Dockerfile.user-service
  microservices/contact-service/Dockerfile
  microservices/notification-service/package-lock.json
  microservices/order-service/Dockerfile
  microservices/product-service/Dockerfile
  microservices/user-service/Dockerfile
Due: user-service, product-service, order-service

fix(railway): Corregir comandos de inicio y accessLog factory
  microservices/admin-dashboard-service/nixpacks.toml
  microservices/cart-service/Dockerfile
  microservices/cart-service/nixpacks.toml
  microservices/cart-service/railway.json
  microservices/contact-service/nixpacks.toml
  microservices/contact-service/railway.json
  microservices/notification-service/Dockerfile
  microservices/notification-service/nixpacks.toml
  microservices/notification-service/railway.json
  microservices/payment-service/Dockerfile
  microservices/payment-service/nixpacks.toml
  microservices/promotion-service/nixpacks.toml
  microservices/review-service/Dockerfile
  microservices/review-service/nixpacks.toml
  microservices/review-service/railway.json
  microservices/user-service/nixpacks.toml
  microservices/wishlist-service/Dockerfile
  microservices/wishlist-service/nixpacks.toml
  microservices/wishlist-service/railway.json
Due: user-service, cart-service

fix(dockerfiles): Corregir ruta de módulos @flores-victoria/shared
  microservices/cart-service/Dockerfile
  microservices/contact-service/Dockerfile
  microservices/notification-service/Dockerfile
  microservices/payment-service/Dockerfile
  microservices/review-service/Dockerfile
  microservices/user-service/Dockerfile
  microservices/wishlist-service/Dockerfile
Due: user-service, cart-service

fix(railway): Corregir dockerfilePath en railway.json
  microservices/admin-dashboard-service/railway.json
  microservices/contact-service/railway.json
  microservices/notification-service/railway.json
  microservices/review-service/railway.json
  microservices/wishlist-service/railway.json
Due: none

fix(railway): Agregar railway.json faltantes y corregir builder
  microservices/order-service/railway.json
  microservices/payment-service/railway.json
  microservices/user-service/railway.json
Due: user-service, order-service

fix(dockerfiles): Agregar logger.simple.js stub y corregir Joi uuid()
  docker/Dockerfile.cart-service
  docker/Dockerfile.contact-service
  docker/Dockerfile.notification-service
  docker/Dockerfile.order-service
  docker/Dockerfile.payment-service
  docker/Dockerfile.review-service
  docker/Dockerfile.user-service
  docker/Dockerfile.wishlist-service
Due: none

fix(microservices): Agregar logger.simple.js faltantes y eliminar stub que sobrescribía joi
  microservices/auth-service/Dockerfile
  microservices/cart-service/Dockerfile
  microservices/contact-service/Dockerfile
  microservices/notification-service/Dockerfile
  microservices/order-service/Dockerfile
  microservices/payment-service/Dockerfile
  microservices/payment-service/src/logger.simple.js
  microservices/product-service/Dockerfile
  microservices/promotion-service/src/logger.simple.js
  microservices/review-service/Dockerfile
  microservices/user-service/Dockerfile
  microservices/wishlist-service/Dockerfile
  microservices/wishlist-service/src/logger.simple.js
Due: user-service, auth-service, product-service, cart-service, order-service

fix(dockerfiles): Agregar stubs de rate-limiter, metrics-simple y corregir validation.js
  microservices/admin-dashboard-service/Dockerfile
  microservices/api-gateway/Dockerfile
  microservices/auth-service/Dockerfile
  microservices/cart-service/Dockerfile
  microservices/contact-service/Dockerfile
  microservices/notification-service/Dockerfile
  microservices/order-service/Dockerfile
  microservices/payment-service/Dockerfile
  microservices/product-service/Dockerfile
  microservices/promotion-service/Dockerfile
  microservices/review-service/Dockerfile
  microservices/user-service/Dockerfile
  microservices/wishlist-service/Dockerfile
Due: user-service, auth-service, product-service, cart-service, order-service

fix(database): Aumentar connection timeout a 30s y agregar retry logic con backoff exponencial
  microservices/auth-service/src/config/database.js
  microservices/user-service/src/config/database.js
Due: user-service, auth-service

fix(dockerfiles): Corregir stubs de Joi y metrics-simple en todos los servicios
  microservices/auth-service/Dockerfile
  microservices/cart-service/Dockerfile
  microservices/contact-service/Dockerfile
  microservices/notification-service/Dockerfile
  microservices/order-service/Dockerfile
  microservices/payment-service/Dockerfile
  microservices/product-service/Dockerfile
  microservices/promotion-service/Dockerfile
  microservices/review-service/Dockerfile
  microservices/user-service/Dockerfile
  microservices/wishlist-service/Dockerfile
Due: user-service, auth-service, product-service, cart-service, order-service

fix(dockerfiles): Corregir stubs de initMetrics y Joi.optional()
  microservices/auth-service/Dockerfile
  microservices/cart-service/Dockerfile
  microservices/contact-service/Dockerfile
  microservices/notification-service/Dockerfile
  microservices/order-service/Dockerfile
  microservices/payment-service/Dockerfile
  microservices/product-service/Dockerfile
  microservices/promotion-service/Dockerfile
  microservices/review-service/Dockerfile
  microservices/user-service/Dockerfile
  microservices/wishlist-service/Dockerfile
Due: user-service, auth-service, product-service, cart-service, order-service

fix(promotion-service): Corregir stub de initMetrics para retornar { registry }
  microservices/promotion-service/Dockerfile
Due: none

fix(order-service): Corregir ruta del Dockerfile para Railway
  microservices/order-service/railway.json
  microservices/order-service/railway.toml
Due: order-service

fix(order-service): Agregar stub de redis module
  microservices/order-service/Dockerfile
Due: order-service

fix(dockerfiles): Agregar stub de redis para Valkey en todos los servicios
  microservices/api-gateway/Dockerfile
  microservices/auth-service/Dockerfile
  microservices/cart-service/Dockerfile
  microservices/order-service/Dockerfile
  microservices/product-service/Dockerfile
  microservices/user-service/Dockerfile
  microservices/wishlist-service/Dockerfile
Due: user-service, auth-service, product-service, cart-service, order-service

fix(order-service): Corregir uso del modelo Order como instancia singleton
  microservices/order-service/src/controllers/orderController.js
Due: order-service

fix(order-service): Agregar stub de deliveryZones para Railway
  microservices/order-service/Dockerfile
Due: order-service

fix(order-service): Agregar stub de logger.js para Railway
  microservices/order-service/Dockerfile
Due: order-service

Path conditions:
  user-service: any of: microservices/user-service/, but not: **/__tests__/**, **/node_modules/**, **/coverage/**, **/dist/**, **/build/**, **/*.test.js, **/*.spec.js, **/jest.setup.js, **/jest.config.js, **/mcp-helper.js, **/server.js, **/*.md, **/*.sh, development/**, admin-panel/**, shared/**, docs/**
  auth-service: any of: microservices/auth-service/, but not: **/__tests__/**, **/node_modules/**, **/coverage/**, **/dist/**, **/build/**, **/*.test.js, **/*.spec.js, **/jest.setup.js, **/jest.config.js, **/mcp-helper.js, **/server.js, **/*.md, **/*.sh, development/**, admin-panel/**, shared/**, docs/**
  product-service: any of: microservices/product-service/, but not: **/__tests__/**, **/node_modules/**, **/coverage/**, **/dist/**, **/build/**, **/*.test.js, **/*.spec.js, **/jest.setup.js, **/jest.config.js, **/mcp-helper.js, **/server.js, **/*.md, **/*.sh, development/**, admin-panel/**, shared/**, docs/**
  cart-service: any of: microservices/cart-service/, but not: **/__tests__/**, **/node_modules/**, **/coverage/**, **/dist/**, **/build/**, **/*.test.js, **/*.spec.js, **/jest.setup.js, **/jest.config.js, **/mcp-helper.js, **/server.js, **/*.md, **/*.sh, development/**, admin-panel/**, shared/**, docs/**
  order-service: any of: microservices/order-service/, but not: **/__tests__/**, **/node_modules/**, **/coverage/**, **/dist/**, **/build/**, **/*.test.js, **/*.spec.js, **/jest.setup.js, **/jest.config.js, **/mcp-helper.js, **/server.js, **/*.md, **/*.sh, development/**, admin-panel/**, shared/**, docs/**
