Repository laloaggro/Flores-Victoria-: changes, and which Codecov flags are due for each by the changed paths.
All: user-service, auth-service, product-service, cart-service, order-service

codecov.yml:

# Codecov Configuration for Flores Victoria
# https://docs.codecov.io/docs/codecov-yaml

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: 60%
        threshold: 2%
        if_not_found: success
        if_ci_failed: error
    
    patch:
      default:
        target: 70%
        threshold: 5%
        if_not_found: success

# Individual service coverage targets
flag_management:
  default_rules:
    carryforward: true
    
flags:
  user-service:
    paths:
      - microservices/user-service/
    carryforward: true
    
  auth-service:
    paths:
      - microservices/auth-service/
    carryforward: true
    
  product-service:
    paths:
      - microservices/product-service/
    carryforward: true
    
  cart-service:
    paths:
      - microservices/cart-service/
    carryforward: true
    
  order-service:
    paths:
      - microservices/order-service/
    carryforward: true

# Ignore patterns
ignore:
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/coverage/**"
  - "**/dist/**"
  - "**/build/**"
  - "**/*.test.js"
  - "**/*.spec.js"
  - "**/jest.setup.js"
  - "**/jest.config.js"
  - "**/mcp-helper.js"
  - "**/server.js"
  - "**/*.md"
  - "**/*.sh"
  - "development/**"
  - "admin-panel/**"
  - "shared/**"
  - "docs/**"

# Comment settings for pull requests
comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main
    - develop

# GitHub checks
github_checks:
  annotations: true

# Annotation settings
annotations:
  range: "50...100"
  round: down
  precision: 2

docs: Reporte de resolución exitosa - Auth Service 100% operativo
  AUTH_SERVICE_RESOLUCION_EXITOSA.md
Due: none

fix(user-service): migrar a Dockerfile simplificado (PostgreSQL + logger.simple)
  microservices/user-service/Dockerfile
  microservices/user-service/package-simple.json
  microservices/user-service/src/config/database.js
  microservices/user-service/src/logger.simple.js
  microservices/user-service/src/models/User.js
  microservices/user-service/src/server.simple.js
Due: user-service

fix(user-service): actualizar railway.toml con watchPatterns y startCommand
  microservices/user-service/railway.toml
Due: user-service

fix(user-service): usar path absoluto para Dockerfile en railway.toml
  microservices/user-service/railway.toml
Due: user-service

fix(user-service): Dockerfile con paths desde raíz del repo
  microservices/user-service/Dockerfile
Due: user-service

docs: Documentación migración exitosa User Service
  USER_SERVICE_MIGRACION_EXITOSA.md
Due: none

docs: Análisis completo del proyecto - BD y servicios
  ANALISIS_COMPLETO_PROYECTO_DICIEMBRE_2025.md
Due: none

fix(review-service): Migración a Dockerfile simplificado v1.0.0
  microservices/review-service/Dockerfile
  microservices/review-service/package-simple.json
  microservices/review-service/railway.toml
  microservices/review-service/src/config/database.js
  microservices/review-service/src/logger.simple.js
  microservices/review-service/src/server.simple.js
Due: none

fix(wishlist-service): Migración a Dockerfile simplificado v1.0.0
  microservices/wishlist-service/package-simple.json
  microservices/wishlist-service/railway.toml
  microservices/wishlist-service/src/logger.simple.js
  microservices/wishlist-service/src/server.simple.js
Due: none

fix(contact-service): Migración a Dockerfile simplificado v1.0.0
  microservices/contact-service/Dockerfile
  microservices/contact-service/package-simple.json
  microservices/contact-service/railway.toml
  microservices/contact-service/src/config/database.js
  microservices/contact-service/src/config/index.js
  microservices/contact-service/src/logger.simple.js
  microservices/contact-service/src/server.simple.js
Due: none

fix(order-service): Actualizar Dockerfile a v1.0.0 con paths absolutos
  microservices/order-service/Dockerfile
  microservices/order-service/package-simple.json
  microservices/order-service/railway.toml
Due: order-service

fix(payment-service): Crear estructura completa con Dockerfile v1.0.0
  microservices/payment-service/package-simple.json
  microservices/payment-service/src/config.js
  microservices/payment-service/src/logger.simple.js
  microservices/payment-service/src/server.simple.js
Due: none

fix(payment-service): Actualizar Dockerfile v1.0.0 + cambios formatter
  AUTH_SERVICE_INCIDENT_REPORT.md
  microservices/auth-service/Dockerfile.railway
  microservices/auth-service/nixpacks.toml
  microservices/contact-service/Dockerfile
  microservices/contact-service/src/logger.simple.js
  microservices/contact-service/src/server.simple.js
  microservices/payment-service/package-simple.json
  microservices/payment-service/railway.toml
  microservices/payment-service/src/config.js
  microservices/payment-service/src/logger.simple.js
  microservices/payment-service/src/server.simple.js
  microservices/review-service/src/server.simple.js
  microservices/wishlist-service/Dockerfile
  microservices/wishlist-service/package-simple.json
  microservices/wishlist-service/src/logger.simple.js
  microservices/wishlist-service/src/server.simple.js
Due: auth-service

fix(payment-service): Reemplazar Dockerfile con versión v1.0.0 simplificada
  microservices/payment-service/Dockerfile
Due: none

fix(product-service): Migrar a Dockerfile v1.0.0 simplificado
  microservices/product-service/Dockerfile
  microservices/product-service/railway.toml
Due: product-service

fix(notification-service): Crear estructura completa con Dockerfile v1.0.0
  microservices/notification-service/package-simple.json
  microservices/notification-service/src/config.js
  microservices/notification-service/src/logger.simple.js
  microservices/notification-service/src/server.simple.js
Due: none

fix(notification-service): Actualizar Dockerfile v1.0.0
  microservices/notification-service/Dockerfile
Due: none

fix(notification+payment): Forzar rebuild en Railway v1.0.1
  microservices/notification-service/Dockerfile
  microservices/payment-service/Dockerfile
Due: none

feat(promotion-service): Migración completa v1.0.1
  microservices/promotion-service/Dockerfile
  microservices/promotion-service/package-simple.json
  microservices/promotion-service/railway.toml
  microservices/promotion-service/src/config.js
  microservices/promotion-service/src/logger.simple.js
  microservices/promotion-service/src/server.simple.js
Due: none

docs: Documentación completa de migración 8 servicios
  MIGRACION_COMPLETADA_DIC_2025.md
Due: none

fix(railway-configs): Actualizar 8 servicios a Dockerfiles v1.0.1
  railway-configs/contact-service.toml
  railway-configs/notification-service.toml
  railway-configs/order-service.toml
  railway-configs/payment-service.toml
  railway-configs/product-service.toml
  railway-configs/promotion-service.toml
  railway-configs/review-service.toml
  railway-configs/wishlist-service.toml
Due: none

docs: Diagnóstico crítico Railway config-as-code
  RAILWAY_CONFIG_DIAGNOSTICO.md
Due: none

fix(dockerfiles): v1.0.2 paths relativos para Railway Root Directory
  microservices/contact-service/Dockerfile
  microservices/notification-service/Dockerfile
  microservices/order-service/Dockerfile
  microservices/payment-service/Dockerfile
  microservices/product-service/Dockerfile
  microservices/promotion-service/Dockerfile
  microservices/review-service/Dockerfile
  microservices/wishlist-service/Dockerfile
Due: product-service, order-service

docs: Actualizar diagnóstico con problema #2 (Root Directory)
  RAILWAY_CONFIG_DIAGNOSTICO.md
Due: none

fix(railway-configs): Añadir watchPatterns para forzar detección de cambios
  railway-configs/contact-service.toml
  railway-configs/notification-service.toml
  railway-configs/order-service.toml
  railway-configs/payment-service.toml
  railway-configs/product-service.toml
  railway-configs/promotion-service.toml
  railway-configs/review-service.toml
  railway-configs/wishlist-service.toml
Due: none

docs: Actualizar diagnóstico con problema #3 (Dockerfile cache)
  RAILWAY_CONFIG_DIAGNOSTICO.md
Due: none

fix(server): Añadir binding 0.0.0.0 para Railway en 7 servicios
  microservices/contact-service/src/server.simple.js
  microservices/notification-service/src/server.simple.js
  microservices/order-service/src/server.simple.js
  microservices/payment-service/src/server.simple.js
  microservices/promotion-service/src/server.simple.js
  microservices/review-service/src/server.simple.js
  microservices/wishlist-service/src/server.simple.js
Due: order-service

docs: Añadir problema #4 - Railway Network Binding
  RAILWAY_CONFIG_DIAGNOSTICO.md
Due: none

fix(railway-configs): Añadir rootDirectory explícito para config centralizado
  railway-configs/contact-service.toml
  railway-configs/notification-service.toml
  railway-configs/order-service.toml
  railway-configs/payment-service.toml
  railway-configs/product-service.toml
  railway-configs/promotion-service.toml
  railway-configs/review-service.toml
  railway-configs/wishlist-service.toml
Due: none

docs: Actualizar diagnóstico con problema #5 (rootDirectory vacío)
  RAILWAY_CONFIG_DIAGNOSTICO.md
Due: none

fix(docker): Usar rutas absolutas en Dockerfiles v1.0.3
  microservices/contact-service/Dockerfile
  microservices/notification-service/Dockerfile
  microservices/notification-service/railway.toml
  microservices/notification-service/src/config.js
  microservices/notification-service/src/logger.simple.js
  microservices/order-service/Dockerfile
  microservices/payment-service/Dockerfile
  microservices/promotion-service/Dockerfile
  microservices/review-service/Dockerfile
  microservices/wishlist-service/Dockerfile
  railway-configs/contact-service.toml
  railway-configs/notification-service.toml
  railway-configs/payment-service.toml
  railway-configs/promotion-service.toml
  railway-configs/review-service.toml
  railway-configs/wishlist-service.toml
Due: order-service

feat: Security improvements, observability, and test cleanup
  .github/workflows/README.md
  config/jest.config.js
  microservices/api-gateway/src/config/index.js
  microservices/api-gateway/src/middleware/auth.js
  microservices/auth-service/src/config/__tests__/index.test.js
  microservices/auth-service/src/config/index.js
  microservices/contact-service/src/server.simple.js
  microservices/notification-service/src/server.simple.js
  microservices/order-service/src/__tests__/unit/Order.test.js
  microservices/order-service/src/__tests__/unit/orderController.test.js
  microservices/order-service/src/controllers/orderController.js
  microservices/order-service/src/models/Order.js
  microservices/payment-service/src/server.simple.js
  microservices/product-service/src/__tests__/middleware/imageHandler.test.js
  microservices/promotion-service/src/server.simple.js
  microservices/review-service/src/server.simple.js
  microservices/shared/metrics-simple.js
  microservices/user-service/src/config/index.js
  microservices/wishlist-service/src/server.simple.js
  monitoring/prometheus.yml
Due: user-service, auth-service, order-service

test: fix Jest config to pass all 63 test suites
  config/jest.config.js
  package.json
Due: none

security: remove hardcoded passwords from docker-compose
  config/jest.config.js
  environments/development/.env.example
  environments/development/docker-compose.dev-simple.yml
Due: none

fix: remove deprecated MongoDB driver options
  microservices/contact-service/src/config/database.js
  microservices/contact-service/src/config/index.js
  microservices/order-service/src/config/database.js
  microservices/product-service/src/config/index.js
  microservices/promotion-service/__tests__/api.test.js
  microservices/promotion-service/server.js
  microservices/promotion-service/src/config.js
  microservices/review-service/src/config/index.js
  microservices/shared/database/migrate-mongo-config.js
Due: product-service, order-service

feat: add Dockerfile and server.simple.js for cart-service and admin-dashboard-service
  microservices/admin-dashboard-service/Dockerfile
  microservices/admin-dashboard-service/package-simple.json
  microservices/admin-dashboard-service/railway.toml
  microservices/admin-dashboard-service/src/logger.simple.js
  microservices/admin-dashboard-service/src/server.simple.js
  microservices/cart-service/Dockerfile
  microservices/cart-service/package-simple.json
  microservices/cart-service/railway.toml
  microservices/cart-service/src/logger.simple.js
  microservices/cart-service/src/server.simple.js
Due: cart-service

fix: add shared/metrics-simple.js to all Dockerfiles (v1.0.4)
  microservices/admin-dashboard-service/Dockerfile
  microservices/cart-service/Dockerfile
  microservices/cart-service/src/server.simple.js
  microservices/contact-service/Dockerfile
  microservices/contact-service/src/server.simple.js
  microservices/notification-service/Dockerfile
  microservices/notification-service/src/server.simple.js
  microservices/payment-service/Dockerfile
  microservices/payment-service/src/server.simple.js
  microservices/promotion-service/Dockerfile
  microservices/promotion-service/src/server.simple.js
  microservices/review-service/Dockerfile
  microservices/review-service/src/server.simple.js
  microservices/wishlist-service/Dockerfile
  microservices/wishlist-service/src/server.simple.js
Due: cart-service

fix(logger): serialize object messages to avoid [object Object] in logs
  microservices/admin-dashboard-service/src/logger.simple.js
  microservices/auth-service/src/logger.simple.js
  microservices/cart-service/src/logger.simple.js
  microservices/contact-service/src/logger.simple.js
  microservices/notification-service/src/logger.simple.js
  microservices/order-service/src/logger.simple.js
  microservices/payment-service/src/logger.simple.js
  microservices/product-service/src/logger.simple.js
  microservices/promotion-service/src/logger.simple.js
  microservices/review-service/src/logger.simple.js
  microservices/user-service/src/logger.simple.js
  microservices/wishlist-service/src/logger.simple.js
Due: user-service, auth-service, product-service, cart-service, order-service

feat: add Railway health check monitoring script
  scripts/check-railway-health.sh
Due: none

fix(logger): serialize objects in notification-service and payment-service loggers
  microservices/notification-service/src/logger.js
  microservices/payment-service/src/logger.js
Due: none
