Repository laloaggro/Flores-Victoria-: changes, and which Codecov flags are due for each by the changed paths.
All: user-service, auth-service, product-service, cart-service, order-service

fix(frontend): generar config nginx directamente sin envsubst
  frontend/Dockerfile.railway
Due: none

fix(frontend): eliminar startCommand de railway.toml - usar ENTRYPOINT del Dockerfile
  frontend/railway.toml
Due: none

feat(frontend): cambiar a busybox httpd - enfoque simplificado
  frontend/Dockerfile.railway
Due: none

fix(frontend): cambiar startCommand a /start.sh en railway.json
  frontend/railway.json
Due: none

fix(frontend): eliminar railway.json - usar solo CMD del Dockerfile
  frontend/railway.json
Due: none

fix(frontend): cambiar a Python http.server - httpd no disponible en alpine
  frontend/Dockerfile.railway
Due: none

fix(order-service): eliminar railway.json para evitar conflictos con railway.toml
  microservices/order-service/railway.json
Due: order-service

feat(order-service): migrar de PostgreSQL a MongoDB
  microservices/order-service/Dockerfile
  microservices/order-service/nixpacks.toml
  microservices/order-service/package-lock.json
  microservices/order-service/package.json
  microservices/order-service/src/config/database.js
  microservices/order-service/src/config/index.js
  microservices/order-service/src/models/Order.js
  microservices/order-service/src/server.js
Due: order-service

fix(order-service): simplificar app y server para eliminar dependencias de shared
  microservices/order-service/nixpacks.toml
  microservices/order-service/src/app.simple.js
  microservices/order-service/src/server.js
  microservices/order-service/src/server.simple.js
Due: order-service

fix(order-service): eliminar Dockerfile corrupto - usar nixpacks.toml
  microservices/order-service/Dockerfile
Due: order-service

fix(order-service): forzar uso de NIXPACKS explícitamente
  microservices/order-service/railway.toml
Due: order-service

fix(order-service): crear Dockerfile válido y cambiar a builder DOCKERFILE
  microservices/order-service/Dockerfile
  microservices/order-service/railway.toml
Due: order-service

fix(order-service): force cache bust v2.0
  microservices/order-service/Dockerfile
Due: order-service

fix(order-service): renombrar a Dockerfile.railway para limpiar cache
  microservices/order-service/Dockerfile.railway
  microservices/order-service/railway.toml
Due: order-service

fix(order-service): simplificar dependencias a solo las necesarias
  microservices/order-service/Dockerfile.railway
  microservices/order-service/package-simple.json
Due: order-service

fix(order-service): eliminar dependencia de rutas para versión mínima funcional
  microservices/order-service/src/app.simple.js
Due: order-service

fix(order-service): hacer conexión MongoDB no bloqueante para arranque inmediato
  microservices/order-service/src/server.simple.js
Due: order-service

fix(order-service): crear logger simplificado sin winston-logstash
  microservices/order-service/src/app.simple.js
  microservices/order-service/src/logger.simple.js
  microservices/order-service/src/server.simple.js
Due: order-service

fix(order-service): forzar rebuild v3.1 con logger.simple
  microservices/order-service/Dockerfile.railway
Due: order-service

fix(order-service): eliminar logger.js antiguo - solo usar logger.simple.js
  RAILWAY_MANUAL_FIXES.md
  frontend/railway.json
  microservices/order-service/Dockerfile
  microservices/order-service/src/logger.js
Due: order-service

fix(order-service): mejorar healthcheck con más información de debug
  microservices/order-service/src/app.simple.js
Due: order-service

fix(order-service): eliminar EXPOSE fijo para usar PORT dinámico de Railway
  microservices/order-service/Dockerfile.railway
Due: order-service

fix(order-service): eliminar railway.toml para usar detección automática
  microservices/order-service/railway.toml
Due: order-service

fix(order-service): restaurar railway.toml con startCommand correcto
  microservices/order-service/railway.toml
Due: order-service

fix(product-service): simplificar nixpacks.toml para trabajar con Root Directory
  microservices/product-service/nixpacks.toml
Due: product-service

fix(product-service): corregir railway.json para Root Directory context
  microservices/product-service/railway.json
  microservices/product-service/railway.toml
Due: product-service

feat(product-service): crear versión simplificada sin dependencias de shared (similar a order-service)
  microservices/product-service/Dockerfile.railway
  microservices/product-service/nixpacks.toml
  microservices/product-service/package-simple.json
  microservices/product-service/railway.json
  microservices/product-service/railway.toml
  microservices/product-service/src/app.simple.js
  microservices/product-service/src/logger.simple.js
  microservices/product-service/src/server.simple.js
Due: product-service

fix(product-service): agregar rutas y controladores simplificados sin dependencias de shared
  microservices/product-service/src/app.simple.js
  microservices/product-service/src/controllers/productController.simple.js
  microservices/product-service/src/routes/products.simple.js
Due: product-service

fix(product-service): corregir orden de rutas - específicas antes de /:id
  microservices/product-service/src/routes/products.simple.js
Due: product-service

debug(product-service): agregar mejor manejo de errores y endpoint de debug
  microservices/product-service/src/app.simple.js
Due: product-service

chore(product-service): bump version para forzar rebuild
  microservices/product-service/Dockerfile.railway
Due: product-service

feat(auth-service): migrar a versión simplificada con Dockerfile
  microservices/auth-service/Dockerfile.railway
  microservices/auth-service/nixpacks.toml
  microservices/auth-service/package-simple.json
  microservices/auth-service/railway.json
  microservices/auth-service/railway.toml
  microservices/auth-service/src/app.simple.js
  microservices/auth-service/src/logger.simple.js
  microservices/auth-service/src/server.simple.js
Due: auth-service

fix(auth-service): usar npm install --omit=dev en lugar de --production
  microservices/auth-service/Dockerfile.railway
Due: auth-service

fix(auth-service): eliminar package-lock.json copy para evitar conflictos con package-simple
  microservices/auth-service/Dockerfile.railway
Due: auth-service

fix(auth-service): deshabilitar rutas con dependencias de shared temporalmente
  microservices/auth-service/src/app.simple.js
Due: auth-service

fix(auth-service): usar versiones fijas sin ^ para evitar conflictos de npm
  microservices/auth-service/package-simple.json
Due: auth-service

fix(auth-service): Dockerfile ultra-simplificado - copy todo primero
  microservices/auth-service/Dockerfile.railway
Due: auth-service

fix(auth-service): FORCE REBUILD - cambiar a Dockerfile principal y limpiar npm cache
  microservices/auth-service/Dockerfile
  microservices/auth-service/Dockerfile.railway
  microservices/auth-service/railway.toml
  microservices/product-service/nixpacks.toml
  microservices/product-service/railway.json
Due: auth-service, product-service

fix(auth-service): CRITICAL - database.js requiere logger.simple (winston-logstash crash)
  microservices/auth-service/src/config/database-postgres.js
  microservices/auth-service/src/config/database-sqlite-backup.js
  microservices/auth-service/src/config/database.js
Due: auth-service

fix(auth-service): v4.0.0 Dockerfile con validación logger.simple + cache bust
  microservices/auth-service/Dockerfile
Due: auth-service

Path conditions:
  user-service: any of: microservices/user-service/, but not: **/__tests__/**, **/node_modules/**, **/coverage/**, **/dist/**, **/build/**, **/*.test.js, **/*.spec.js, **/jest.setup.js, **/jest.config.js, **/mcp-helper.js, **/server.js, **/*.md, **/*.sh, development/**, admin-panel/**, shared/**, docs/**
  auth-service: any of: microservices/auth-service/, but not: **/__tests__/**, **/node_modules/**, **/coverage/**, **/dist/**, **/build/**, **/*.test.js, **/*.spec.js, **/jest.setup.js, **/jest.config.js, **/mcp-helper.js, **/server.js, **/*.md, **/*.sh, development/**, admin-panel/**, shared/**, docs/**
  product-service: any of: microservices/product-service/, but not: **/__tests__/**, **/node_modules/**, **/coverage/**, **/dist/**, **/build/**, **/*.test.js, **/*.spec.js, **/jest.setup.js, **/jest.config.js, **/mcp-helper.js, **/server.js, **/*.md, **/*.sh, development/**, admin-panel/**, shared/**, docs/**
  cart-service: any of: microservices/cart-service/, but not: **/__tests__/**, **/node_modules/**, **/coverage/**, **/dist/**, **/build/**, **/*.test.js, **/*.spec.js, **/jest.setup.js, **/jest.config.js, **/mcp-helper.js, **/server.js, **/*.md, **/*.sh, development/**, admin-panel/**, shared/**, docs/**
  order-service: any of: microservices/order-service/, but not: **/__tests__/**, **/node_modules/**, **/coverage/**, **/dist/**, **/build/**, **/*.test.js, **/*.spec.js, **/jest.setup.js, **/jest.config.js, **/mcp-helper.js, **/server.js, **/*.md, **/*.sh, development/**, admin-panel/**, shared/**, docs/**
