Repository laloaggro/Flores-Victoria-: changes, and which Codecov flags are due for each by the changed paths.
All: user-service, auth-service, product-service, cart-service, order-service

codecov.yml:

# Codecov Configuration for Flores Victoria
# https://docs.codecov.io/docs/codecov-yaml

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: 60%
        threshold: 2%
        if_not_found: success
        if_ci_failed: error
    
    patch:
      default:
        target: 70%
        threshold: 5%
        if_not_found: success

# Individual service coverage targets
flag_management:
  default_rules:
    carryforward: true
    
flags:
  user-service:
    paths:
      - microservices/user-service/
    carryforward: true
    
  auth-service:
    paths:
      - microservices/auth-service/
    carryforward: true
    
  product-service:
    paths:
      - microservices/product-service/
    carryforward: true
    
  cart-service:
    paths:
      - microservices/cart-service/
    carryforward: true
    
  order-service:
    paths:
      - microservices/order-service/
    carryforward: true

# Ignore patterns
ignore:
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/coverage/**"
  - "**/dist/**"
  - "**/build/**"
  - "**/*.test.js"
  - "**/*.spec.js"
  - "**/jest.setup.js"
  - "**/jest.config.js"
  - "**/mcp-helper.js"
  - "**/server.js"
  - "**/*.md"
  - "**/*.sh"
  - "development/**"
  - "admin-panel/**"
  - "shared/**"
  - "docs/**"

# Comment settings for pull requests
comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main
    - develop

# GitHub checks
github_checks:
  annotations: true

# Annotation settings
annotations:
  range: "50...100"
  round: down
  precision: 2

feat: Add configs for Frontend-v2 service
  frontend/railway.toml
  railway-frontend-v2.json
Due: none

fix: Remove default nginx config and test config validity
  Dockerfile.railway
Due: none

fix: Improve healthcheck with start-period and better timing
  Dockerfile.railway
Due: none

fix: Simplify nginx config and remove Docker healthcheck
  Dockerfile.railway
Due: none

feat: Add railway.toml with explicit healthcheck config
  railway.toml
Due: none

fix: Simplify Dockerfile - remove debug commands
  Dockerfile.railway
Due: none

fix: Remove startCommand from railway.toml
  railway.toml
Due: none

fix: Remove railway.toml to use Railway defaults
  railway.toml
Due: none

fix: Optimize .dockerignore to exclude large directories
  .dockerignore
Due: none

fix: Resolve JavaScript errors and asset paths for Railway deployment
  frontend/index.html
  frontend/js/load-products.js
  frontend/js/utils/lazy-load.js
  frontend/pages/products.html
Due: none

docs: Add PWA checklist and Product Service fix documentation
  PRODUCT_SERVICE_FIX.md
  PWA_CHECKLIST.md
  frontend/public/apple-touch-icon.png
Due: none

docs: Add comprehensive deployment status report
  DEPLOYMENT_STATUS_REPORT.md
Due: none

fix(product-service): Add detailed cache initialization logging
  microservices/product-service/src/services/cacheService.js
Due: product-service

fix: Rename root Dockerfiles to prevent Railway conflicts
  Dockerfile.frontend-old
  Dockerfile.railway-old
Due: none

fix: Rename all root Railway config files to eliminate deployment conflicts
  railway-api-gateway.toml.old
  railway-deploy-all.sh.old
  railway-diagnostic-report.txt.old
  railway-frontend-v2.json.old
  railway-frontend.toml.old
  railway-services-config.json.old
  railway.json.old
  railway.user-service.toml.old
Due: none

Add Dockerfile with relative paths for Root Directory builds
  microservices/product-service/Dockerfile
Due: product-service

feat: Add Dockerfile.railway for cart, wishlist and notification services
  microservices/cart-service/Dockerfile.railway
  microservices/notification-service/Dockerfile.railway
  microservices/wishlist-service/Dockerfile.railway
Due: cart-service

fix: Update railway.json to use Dockerfile instead of Dockerfile.railway
  microservices/product-service/railway.json
Due: product-service

trigger: Force Railway redeploy
  microservices/product-service/.railway-trigger
Due: product-service

fix: Restore dockerfilePath to full path in railway.json
  microservices/product-service/railway.json
Due: product-service

fix: Override npm ci with npm install in nixpacks.toml
  microservices/product-service/nixpacks.toml
Due: product-service

feat: Add package-lock.json for Nixpacks npm ci compatibility
  microservices/product-service/package-lock.json
Due: product-service

fix: Force Nixpacks by ignoring Dockerfiles in product-service
  microservices/product-service/.railwayignore
Due: product-service

fix: Remove Dockerfiles to force Nixpacks in product-service
  RAILWAY_CONFIG_FINAL.md
  RAILWAY_FIX_MANUAL.md
  check-services.sh
  fix-railway-services.sh
  microservices/product-service/Dockerfile
  microservices/product-service/Dockerfile.railway
Due: product-service

fix: Simplify nixpacks.toml - let Railway auto-detect npm ci
  microservices/product-service/nixpacks.toml
Due: product-service

fix: Change builder to NIXPACKS in railway.json
  microservices/product-service/railway.json
Due: product-service

fix: Copy shared module in nixpacks install phase
  microservices/product-service/nixpacks.toml
Due: product-service

feat: Add root nixpacks.toml for Railway monorepo
  nixpacks.toml
Due: none

fix: Combine nixpacks install commands into single shell expression
  nixpacks.toml
Due: none

debug: Add ls commands to investigate build context
  nixpacks.toml
Due: none

fix: railway.json startCommand from repo root
  microservices/product-service/railway.json
Due: product-service

chore: Force Railway cache invalidation
  nixpacks.toml
Due: none

fix: CRITICAL - Remove microservices from .dockerignore
  .dockerignore
Due: none

clean: Remove debug commands from nixpacks.toml
  nixpacks.toml
Due: none

fix: Remove conflicting nixpacks.toml from product-service
  microservices/product-service/nixpacks.toml
Due: product-service
