Repository laloaggro/Flores-Victoria-: changes, and which Codecov flags are due for each by the changed paths.
All: user-service, auth-service, product-service, cart-service, order-service

docs: update CHANGELOG v4.1.0 and add comprehensive documentation
  CHANGELOG.md
  docs/DECEMBER_2025_IMPROVEMENTS.md
  docs/DOCKER_OPTIMIZATION.md
Due: none

fix: resolve test failures in notification-service and wishlist-service
  microservices/notification-service/src/__tests__/middleware/auth.test.js
  microservices/notification-service/src/__tests__/services/email.extended.test.js
  microservices/notification-service/src/config.js
  microservices/notification-service/src/server.simple.js
  microservices/wishlist-service/src/__tests__/routes/wishlist.extended.test.js
  microservices/wishlist-service/src/__tests__/unit/app.test.js
Due: none

fix: remove failing tests and improve test suite reliability
  microservices/notification-service/src/__tests__/middleware/auth.test.js
  microservices/notification-service/src/__tests__/routes/notifications.extended.test.js
  microservices/notification-service/src/__tests__/server.simple.test.js
  microservices/notification-service/src/middleware/auth.js
  microservices/wishlist-service/src/__tests__/unit/server.simple.test.js
Due: none

feat: improve test coverage in notification and order services
  microservices/notification-service/src/__tests__/middleware/auth.simple.test.js
  microservices/notification-service/src/__tests__/routes/notifications.simple.test.js
  microservices/order-service/src/__tests__/config/database.test.js
  microservices/order-service/src/__tests__/routes/orders.basic.test.js
  microservices/review-service/src/__tests__/routes/reviews.test.js
Due: none

test: skip MongoDB integration tests in review-service
  microservices/review-service/src/__tests__/routes/reviews.test.js
Due: none

test: skip failing health check endpoint test
  microservices/order-service/src/__tests__/middleware/common.simple.test.js
  microservices/order-service/src/__tests__/services/checkoutService.simple.test.js
Due: none

test: improve coverage for review, cart, wishlist services (60%+)
  microservices/cart-service/src/__tests__/app.simple.test.js
  microservices/cart-service/src/__tests__/server.simple.test.js
  microservices/product-service/src/__tests__/data/catalog.simple.test.js
  microservices/product-service/src/__tests__/routes/admin.simple.test.js
  microservices/review-service/src/__tests__/app.simple.test.js
  microservices/review-service/src/__tests__/config/rabbitmq.simple.test.js
  microservices/wishlist-service/src/__tests__/app.simple.test.js
  microservices/wishlist-service/src/__tests__/config/rabbitmq.simple.test.js
  microservices/wishlist-service/src/__tests__/server.simple.test.js
Due: none

test: add more test coverage for product and auth services
  microservices/auth-service/src/__tests__/User.basic.test.js
  microservices/auth-service/src/__tests__/authController.basic.test.js
  microservices/auth-service/src/__tests__/authRoutes.basic.test.js
  microservices/auth-service/src/__tests__/utils.basic.test.js
  microservices/auth-service/src/__tests__/validators.basic.test.js
  microservices/order-service/src/__tests__/config/database.test.js
  microservices/order-service/src/__tests__/models/Order.test.js
  microservices/product-service/src/__tests__/app.basic.test.js
  microservices/product-service/src/__tests__/config/rabbitmq.basic.test.js
  microservices/product-service/src/__tests__/config/swagger.basic.test.js
  microservices/product-service/src/__tests__/logger.basic.test.js
  microservices/product-service/src/__tests__/routes/public.basic.test.js
  microservices/product-service/src/__tests__/services/productService.basic.test.js
Due: none

test: add comprehensive test coverage improvements
  microservices/order-service/src/__tests__/app.test.js
  microservices/order-service/src/__tests__/config/config.test.js
  microservices/product-service/src/__tests__/middlewares/error-handler.test.js
  microservices/product-service/src/__tests__/middlewares/imageHandler.test.js
  microservices/product-service/src/__tests__/middlewares/validation.test.js
  microservices/product-service/src/__tests__/models/Product.test.js
  microservices/product-service/src/__tests__/routes/index.test.js
Due: none

test: add extensive middleware and catalog tests
  microservices/product-service/src/__tests__/data/catalog.coverage.test.js
  microservices/product-service/src/__tests__/data/catalog.functional.test.js
  microservices/product-service/src/__tests__/middleware/common.coverage.test.js
  microservices/product-service/src/__tests__/middlewares/audit.coverage.test.js
  microservices/product-service/src/__tests__/routes/admin.coverage.test.js
Due: none

test: add productController.simple tests - product-service now at 62.28% coverage
  microservices/product-service/src/__tests__/controllers/productController.simple.test.js
  microservices/product-service/src/__tests__/services/cacheService.complete.test.js
Due: none

test: add additional tests for order-service (checkoutService, Order model, swagger)
  microservices/order-service/src/__tests__/config/swagger.test.js
  microservices/order-service/src/__tests__/models/Order.test.js
  microservices/order-service/src/__tests__/services/checkoutService.test.js
Due: none

docs: add comprehensive test coverage report - 77.8% services at 60%+
  TEST_COVERAGE_REPORT.md
  docs/TEST_COVERAGE_REPORT.md
Due: none

refactor: cleanup failing tests - maintain 7/9 services at 60%+ (77.8%)
  docs/TEST_COVERAGE_REPORT.md
  microservices/order-service/src/__tests__/config/swagger.test.js
  microservices/order-service/src/__tests__/models/Order.test.js
  microservices/order-service/src/__tests__/services/checkoutService.test.js
  microservices/product-service/src/__tests__/data/catalog.coverage.test.js
  microservices/product-service/src/__tests__/data/catalog.functional.test.js
  microservices/product-service/src/__tests__/middleware/common.coverage.test.js
  microservices/product-service/src/__tests__/middlewares/audit.coverage.test.js
  microservices/product-service/src/__tests__/services/cacheService.complete.test.js
  microservices/product-service/src/__tests__/services/productService.basic.test.js
Due: none

docs: add comprehensive coverage summary - 77.8% success achieved 🎉
  COVERAGE_SUMMARY.md
  TEST_COVERAGE_REPORT.md
  microservices/product-service/src/__tests__/controllers/productController.simple.test.js
  microservices/product-service/src/__tests__/middlewares/error-handler.test.js
  microservices/product-service/src/__tests__/routes/admin.coverage.test.js
  microservices/product-service/src/__tests__/routes/admin.simple.test.js
  microservices/product-service/src/__tests__/routes/public.basic.test.js
  microservices/review-service/src/__tests__/app.simple.test.js
Due: none

refactor: exclude unused legacy files from coverage - all services now 74%+
  microservices/cart-service/package.json
  microservices/cart-service/src/__tests__/server.simple.test.js
  microservices/order-service/package.json
  microservices/order-service/src/__tests__/app.test.js
  microservices/product-service/jest.config.js
  microservices/product-service/src/__tests__/app.basic.test.js
  microservices/product-service/src/__tests__/config/rabbitmq.basic.test.js
  microservices/product-service/src/__tests__/integration/products-auth.test.js
  microservices/product-service/src/__tests__/integration/products.test.js
  microservices/product-service/src/__tests__/logger.basic.test.js
  microservices/product-service/src/__tests__/product-comprehensive.test.js
  microservices/product-service/src/__tests__/routes/index.test.js
  microservices/review-service/package.json
  microservices/review-service/src/__tests__/controllers/reviewController.coverage.test.js
  microservices/review-service/src/__tests__/routes/reviews.coverage.test.js
  microservices/review-service/src/__tests__/unit/logger.test.js
  microservices/wishlist-service/package.json
  microservices/wishlist-service/src/__tests__/config/rabbitmq.simple.test.js
  microservices/wishlist-service/src/__tests__/server.simple.test.js
  microservices/wishlist-service/src/config/__tests__/index.test.js
Due: cart-service, order-service

docs: análisis profesional completo + fix vulnerabilidad qs
  ANALISIS_PRODUCCION_COMPLETO.md
  package-lock.json
Due: none

fix: update Dockerfile paths for Railway monorepo structure
  microservices/admin-dashboard-service/Dockerfile
  microservices/auth-service/Dockerfile
  microservices/cart-service/Dockerfile
  microservices/contact-service/Dockerfile
  microservices/notification-service/Dockerfile
  microservices/order-service/Dockerfile
  microservices/payment-service/Dockerfile
  microservices/product-service/Dockerfile
  microservices/promotion-service/Dockerfile
  microservices/review-service/Dockerfile
  microservices/user-service/Dockerfile
  microservices/wishlist-service/Dockerfile
Due: user-service, auth-service, product-service, cart-service, order-service

fix: restore docker/ folder with Dockerfiles for Railway
  docker/Dockerfile.admin-dashboard-service
  docker/Dockerfile.auth-service
  docker/Dockerfile.cart-service
  docker/Dockerfile.contact-service
  docker/Dockerfile.notification-service
  docker/Dockerfile.order-service
  docker/Dockerfile.payment-service
  docker/Dockerfile.product-service
  docker/Dockerfile.promotion-service
  docker/Dockerfile.review-service
  docker/Dockerfile.user-service
  docker/Dockerfile.wishlist-service
Due: none

fix: regenerate all package-lock.json files
  microservices/admin-dashboard-service/package-lock.json
  microservices/api-gateway/package-lock.json
  microservices/auth-service/package-lock.json
  microservices/cart-service/package-lock.json
  microservices/contact-service/package-lock.json
  microservices/notification-service/package-lock.json
  microservices/order-service/package-lock.json
  microservices/payment-service/package-lock.json
  microservices/product-service/package-lock.json
  microservices/promotion-service/package-lock.json
  microservices/review-service/package-lock.json
  microservices/user-service/package-lock.json
  microservices/wishlist-service/package-lock.json
Due: user-service, auth-service, product-service, cart-service, order-service

fix: include shared/metrics-simple.js in Dockerfiles
  docker/Dockerfile.admin-dashboard-service
  docker/Dockerfile.auth-service
  docker/Dockerfile.cart-service
  docker/Dockerfile.contact-service
  docker/Dockerfile.notification-service
  docker/Dockerfile.order-service
  docker/Dockerfile.payment-service
  docker/Dockerfile.product-service
  docker/Dockerfile.promotion-service
  docker/Dockerfile.review-service
  docker/Dockerfile.user-service
  docker/Dockerfile.wishlist-service
Due: none

fix: eliminate warnings - improve Redis connection handling
  microservices/api-gateway/src/app.js
  microservices/notification-service/src/server.js
Due: none

build: force rebuild of api-gateway - silence Redis warnings v3.1.1
  microservices/api-gateway/src/app.js
Due: none

fix: add Dockerfile.api-gateway-v2 for Railway deployment
  docker/Dockerfile.api-gateway-v2
Due: none

fix: correct logger import in api-gateway - use destructuring
  microservices/api-gateway/src/app.js
Due: none

fix: add missing logger.simple.js to all services
  microservices/auth-service/src/logger.simple.js
  microservices/cart-service/src/logger.simple.js
  microservices/contact-service/src/logger.simple.js
  microservices/notification-service/src/logger.simple.js
  microservices/order-service/src/logger.simple.js
  microservices/product-service/src/logger.simple.js
  microservices/review-service/src/logger.simple.js
  microservices/user-service/src/logger.simple.js
Due: user-service, auth-service, product-service, cart-service, order-service

fix(docker): correct Dockerfile paths for Railway rootDirectory configuration
  microservices/admin-dashboard-service/Dockerfile
  microservices/auth-service/Dockerfile
  microservices/cart-service/Dockerfile
  microservices/contact-service/Dockerfile
  microservices/notification-service/Dockerfile
  microservices/order-service/Dockerfile
  microservices/payment-service/Dockerfile
  microservices/product-service/Dockerfile
  microservices/promotion-service/Dockerfile
  microservices/review-service/Dockerfile
  microservices/user-service/Dockerfile
  microservices/wishlist-service/Dockerfile
Due: user-service, auth-service, product-service, cart-service, order-service

fix(docker): add complete shared module stubs to all Dockerfiles
  microservices/admin-dashboard-service/Dockerfile
  microservices/auth-service/Dockerfile
  microservices/cart-service/Dockerfile
  microservices/contact-service/Dockerfile
  microservices/notification-service/Dockerfile
  microservices/order-service/Dockerfile
  microservices/payment-service/Dockerfile
  microservices/product-service/Dockerfile
  microservices/promotion-service/Dockerfile
  microservices/review-service/Dockerfile
  microservices/user-service/Dockerfile
  microservices/wishlist-service/Dockerfile
Due: user-service, auth-service, product-service, cart-service, order-service

fix(docker): create shared stubs at root level (/shared) for ../../shared imports
  microservices/auth-service/Dockerfile
  microservices/cart-service/Dockerfile
  microservices/contact-service/Dockerfile
  microservices/notification-service/Dockerfile
  microservices/order-service/Dockerfile
  microservices/payment-service/Dockerfile
  microservices/product-service/Dockerfile
  microservices/promotion-service/Dockerfile
  microservices/review-service/Dockerfile
  microservices/user-service/Dockerfile
  microservices/wishlist-service/Dockerfile
Due: user-service, auth-service, product-service, cart-service, order-service

fix(docker): make CacheMetrics a class constructor in shared stubs
  microservices/auth-service/Dockerfile
  microservices/cart-service/Dockerfile
  microservices/contact-service/Dockerfile
  microservices/notification-service/Dockerfile
  microservices/order-service/Dockerfile
  microservices/payment-service/Dockerfile
  microservices/product-service/Dockerfile
  microservices/promotion-service/Dockerfile
  microservices/review-service/Dockerfile
  microservices/user-service/Dockerfile
  microservices/wishlist-service/Dockerfile
Due: user-service, auth-service, product-service, cart-service, order-service

fix(docker): use echo instead of printf, add CacheMetrics verification step
  microservices/auth-service/Dockerfile
  microservices/cart-service/Dockerfile
  microservices/contact-service/Dockerfile
  microservices/notification-service/Dockerfile
  microservices/order-service/Dockerfile
  microservices/payment-service/Dockerfile
  microservices/product-service/Dockerfile
  microservices/promotion-service/Dockerfile
  microservices/review-service/Dockerfile
  microservices/user-service/Dockerfile
  microservices/wishlist-service/Dockerfile
Due: user-service, auth-service, product-service, cart-service, order-service

fix(docker): add validation.js stub that exports Joi
  microservices/auth-service/Dockerfile
  microservices/cart-service/Dockerfile
  microservices/contact-service/Dockerfile
  microservices/notification-service/Dockerfile
  microservices/order-service/Dockerfile
  microservices/payment-service/Dockerfile
  microservices/product-service/Dockerfile
  microservices/promotion-service/Dockerfile
  microservices/review-service/Dockerfile
  microservices/user-service/Dockerfile
  microservices/wishlist-service/Dockerfile
Due: user-service, auth-service, product-service, cart-service, order-service

fix(docker): add NotFoundError, ValidationError, UnauthorizedError to AppError stub
  microservices/auth-service/Dockerfile
  microservices/cart-service/Dockerfile
  microservices/contact-service/Dockerfile
  microservices/notification-service/Dockerfile
  microservices/order-service/Dockerfile
  microservices/payment-service/Dockerfile
  microservices/product-service/Dockerfile
  microservices/promotion-service/Dockerfile
  microservices/review-service/Dockerfile
  microservices/user-service/Dockerfile
  microservices/wishlist-service/Dockerfile
Due: user-service, auth-service, product-service, cart-service, order-service

fix(docker): rebuild product-service Dockerfile with complete shared stubs at /shared/
  docker/Dockerfile.product-service
Due: none

fix(product-service): add initMetrics, withLogger, initRedisClient, notFoundHandler to Dockerfile stubs
  microservices/product-service/Dockerfile
Due: product-service

fix(product-service): make middleware stubs return factory functions (metricsMiddleware(), requestId(), etc)
  microservices/product-service/Dockerfile
Due: product-service

fix(product-service): make local src/shared middleware stubs factory functions
  microservices/product-service/src/shared/middleware/access-log.js
  microservices/product-service/src/shared/middleware/metrics.js
  microservices/product-service/src/shared/middleware/request-id.js
Due: product-service

Path conditions:
  user-service: any of: microservices/user-service/, but not: **/__tests__/**, **/node_modules/**, **/coverage/**, **/dist/**, **/build/**, **/*.test.js, **/*.spec.js, **/jest.setup.js, **/jest.config.js, **/mcp-helper.js, **/server.js, **/*.md, **/*.sh, development/**, admin-panel/**, shared/**, docs/**
  auth-service: any of: microservices/auth-service/, but not: **/__tests__/**, **/node_modules/**, **/coverage/**, **/dist/**, **/build/**, **/*.test.js, **/*.spec.js, **/jest.setup.js, **/jest.config.js, **/mcp-helper.js, **/server.js, **/*.md, **/*.sh, development/**, admin-panel/**, shared/**, docs/**
  product-service: any of: microservices/product-service/, but not: **/__tests__/**, **/node_modules/**, **/coverage/**, **/dist/**, **/build/**, **/*.test.js, **/*.spec.js, **/jest.setup.js, **/jest.config.js, **/mcp-helper.js, **/server.js, **/*.md, **/*.sh, development/**, admin-panel/**, shared/**, docs/**
  cart-service: any of: microservices/cart-service/, but not: **/__tests__/**, **/node_modules/**, **/coverage/**, **/dist/**, **/build/**, **/*.test.js, **/*.spec.js, **/jest.setup.js, **/jest.config.js, **/mcp-helper.js, **/server.js, **/*.md, **/*.sh, development/**, admin-panel/**, shared/**, docs/**
  order-service: any of: microservices/order-service/, but not: **/__tests__/**, **/node_modules/**, **/coverage/**, **/dist/**, **/build/**, **/*.test.js, **/*.spec.js, **/jest.setup.js, **/jest.config.js, **/mcp-helper.js, **/server.js, **/*.md, **/*.sh, development/**, admin-panel/**, shared/**, docs/**
