Repository laloaggro/Flores-Victoria-: changes, and which Codecov flags are due for each by the changed paths.
All: user-service, auth-service, product-service, cart-service, order-service

codecov.yml:

# Codecov Configuration for Flores Victoria
# https://docs.codecov.io/docs/codecov-yaml

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: 60%
        threshold: 2%
        if_not_found: success
        if_ci_failed: error
    
    patch:
      default:
        target: 70%
        threshold: 5%
        if_not_found: success

# Individual service coverage targets
flag_management:
  default_rules:
    carryforward: true
    
flags:
  user-service:
    paths:
      - microservices/user-service/
    carryforward: true
    
  auth-service:
    paths:
      - microservices/auth-service/
    carryforward: true
    
  product-service:
    paths:
      - microservices/product-service/
    carryforward: true
    
  cart-service:
    paths:
      - microservices/cart-service/
    carryforward: true
    
  order-service:
    paths:
      - microservices/order-service/
    carryforward: true

# Ignore patterns
ignore:
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/coverage/**"
  - "**/dist/**"
  - "**/build/**"
  - "**/*.test.js"
  - "**/*.spec.js"
  - "**/jest.setup.js"
  - "**/jest.config.js"
  - "**/mcp-helper.js"
  - "**/server.js"
  - "**/*.md"
  - "**/*.sh"
  - "development/**"
  - "admin-panel/**"
  - "shared/**"
  - "docs/**"

# Comment settings for pull requests
comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main
    - develop

# GitHub checks
github_checks:
  annotations: true

# Annotation settings
annotations:
  range: "50...100"
  round: down
  precision: 2

fix(api-gateway): add manual HTTP proxy route to diagnose middleware issue
  microservices/api-gateway/src/routes/index.js
Due: none

fix(api-gateway): rename manual-auth endpoint to avoid route conflicts
  microservices/api-gateway/src/routes/index.js
Due: none

fix(api-gateway): add POST test endpoint for debugging
  microservices/api-gateway/src/routes/index.js
Due: none

fix(api-gateway): simplify manual-auth proxy endpoint
  microservices/api-gateway/src/routes/index.js
Due: none

fix(api-gateway): replace auth http-proxy-middleware with native HTTP proxy
  config/jest.config.js
  microservices/api-gateway/src/routes/index.js
Due: none

fix(api-gateway): replace users http-proxy-middleware with native HTTP proxy
  microservices/api-gateway/src/routes/index.js
Due: none

fix(api-gateway): update user-service port to 3002
  microservices/api-gateway/src/config/index.js
Due: none

fix(api-gateway): revert user-service port to 8080 (Railway default)
  microservices/api-gateway/src/config/index.js
Due: none

feat(api-gateway): add user-connect-test debug endpoint
  microservices/api-gateway/src/routes/index.js
Due: none

fix(api-gateway): use correct USER-SERVICE name (case-sensitive)
  microservices/api-gateway/src/config/index.js
Due: none

fix(user-service): change default port to 8080 for Railway compatibility
  microservices/user-service/Dockerfile
  microservices/user-service/src/server.simple.js
Due: user-service

fix(api-gateway): revert USER-SERVICE to lowercase (Railway DNS normalization)
  microservices/api-gateway/src/config/index.js
Due: none

fix(user-service): use Dockerfile builder instead of nixpacks, remove port 3002 config
  microservices/user-service/railway.toml
Due: user-service

fix(user-service): add ENV PORT=8080 in Dockerfile for Railway
  microservices/user-service/Dockerfile
Due: user-service

fix(user-service): use Dockerfile.railway with port 8080 (matching auth-service pattern)
  microservices/user-service/Dockerfile.railway
  microservices/user-service/railway.toml
Due: user-service

fix(shared): add utils/logger export to package.json exports field
  microservices/shared/package.json
Due: none

fix(user-service): cargar rutas completas y agregar cors en server.simple.js
  microservices/user-service/src/server.simple.js
Due: user-service

fix(user-service): hacer servicio resiliente cuando DB no configurada
  microservices/user-service/src/server.simple.js
Due: user-service

fix(user-service): mejorar resiliencia del servicio
  microservices/user-service/src/server.simple.js
Due: user-service

fix(user-service): usar ruta absoluta para Dockerfile en railway.toml
  microservices/user-service/railway.toml
Due: user-service

fix(user-service): usar Dockerfile estándar en lugar de Dockerfile.railway
  microservices/user-service/Dockerfile
  microservices/user-service/railway.toml
Due: user-service

fix: agregar railway.toml en raíz para que Railway lo detecte
  railway.toml
Due: none

fix(contact-service): usar rutas relativas en Dockerfile
  microservices/contact-service/Dockerfile
Due: none

fix(api-gateway): mover railway.toml a directorio del servicio
  microservices/api-gateway/railway.toml
  railway.toml
Due: none

fix(review,contact): agregar trust proxy y usar puerto 8080 para Railway
  microservices/contact-service/Dockerfile
  microservices/contact-service/src/server.simple.js
  microservices/review-service/Dockerfile
  microservices/review-service/src/server.simple.js
Due: none

chore: trigger api-gateway redeploy
  microservices/api-gateway/DEPLOY_TRIGGER.txt
Due: none

fix(api-gateway): agregar Dockerfile.api-gateway en raíz para Railway
  Dockerfile.api-gateway
Due: none

fix(api-gateway): arreglar error de copia de shared module en Dockerfile-v2
  docker/Dockerfile.api-gateway-v2
Due: none

fix(contact-service): agregar Dockerfile en raíz para Railway
  Dockerfile.contact-service
Due: none

fix(cart-service): agregar rutas completas del carrito a server.simple.js
  microservices/cart-service/src/server.simple.js
Due: cart-service

fix: agregar rutas completas a wishlist, review y cart services para Railway
  microservices/cart-service/src/server.simple.js
  microservices/review-service/src/server.simple.js
  microservices/wishlist-service/src/server.simple.js
Due: cart-service

fix(review-service): agregar middleware de autenticación a ruta POST reviews
  microservices/review-service/src/routes/reviews.js
Due: none

fix(review-service): agregar jsonwebtoken a dependencias
  microservices/review-service/package.json
Due: none

feat(order-service): agregar rutas de orders completas a app.simple.js y mongodb
  microservices/order-service/package.json
  microservices/order-service/src/app.simple.js
Due: order-service

📚 Mejoras admin panel: documentación y cambio de estados
  CHANGELOG.md
  CONTRIBUTING.md
  RAILWAY_PROJECT_ANALYSIS.md
  README.md
  SECURITY.md
  admin-panel/public/documentation.html
  admin-panel/public/orders.html
Due: none

🔧 Fix: Añadir ruta /v2 para compatibilidad con Railway
  admin-panel/server.js
Due: none

✨ Agregar accesos rápidos a Documentación, Changelog y Pedidos v2 en página principal
  admin-panel/public/index.html
Due: none

feat(frontend): implementar página completa 'Mis Pedidos' para clientes
  frontend/pages/orders.html
Due: none

style(auth): mejorar iconos en formularios de login y registro
  frontend/pages/login.html
  frontend/pages/register.html
Due: none

style(auth): separar iconos visualmente del área de escritura
  frontend/pages/login.html
  frontend/pages/register.html
Due: none
