Repository laloaggro/Flores-Victoria-: changes, and which Codecov flags are due for each by the changed paths.
All: user-service, auth-service, product-service, cart-service, order-service

codecov.yml:

# Codecov Configuration for Flores Victoria
# https://docs.codecov.io/docs/codecov-yaml

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: 60%
        threshold: 2%
        if_not_found: success
        if_ci_failed: error
    
    patch:
      default:
        target: 70%
        threshold: 5%
        if_not_found: success

# Individual service coverage targets
flag_management:
  default_rules:
    carryforward: true
    
flags:
  user-service:
    paths:
      - microservices/user-service/
    carryforward: true
    
  auth-service:
    paths:
      - microservices/auth-service/
    carryforward: true
    
  product-service:
    paths:
      - microservices/product-service/
    carryforward: true
    
  cart-service:
    paths:
      - microservices/cart-service/
    carryforward: true
    
  order-service:
    paths:
      - microservices/order-service/
    carryforward: true

# Ignore patterns
ignore:
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/coverage/**"
  - "**/dist/**"
  - "**/build/**"
  - "**/*.test.js"
  - "**/*.spec.js"
  - "**/jest.setup.js"
  - "**/jest.config.js"
  - "**/mcp-helper.js"
  - "**/server.js"
  - "**/*.md"
  - "**/*.sh"
  - "development/**"
  - "admin-panel/**"
  - "shared/**"
  - "docs/**"

# Comment settings for pull requests
comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main
    - develop

# GitHub checks
github_checks:
  annotations: true

# Annotation settings
annotations:
  range: "50...100"
  round: down
  precision: 2

feat(railway): complete fullstack deployment configuration
  RAILWAY_FULLSTACK_SETUP.md
  RAILWAY_QUICKSTART.md
  admin-panel/railway.toml
  frontend/railway.toml
  microservices/auth-service/railway.toml
  microservices/cart-service/railway.toml
  microservices/contact-service/railway.toml
  microservices/order-service/railway.toml
  microservices/payment-service/railway.toml
  microservices/product-service/railway.toml
  microservices/promotion-service/railway.toml
  microservices/review-service/railway.toml
  microservices/user-service/railway.toml
  microservices/wishlist-service/railway.toml
  scripts/deploy-railway.sh
Due: user-service, auth-service, product-service, cart-service, order-service

feat: Add Railway-optimized Dockerfiles for all microservices
  RAILWAY_DEPLOY_FACIL.md
  microservices/auth-service/Dockerfile.railway
  microservices/auth-service/nixpacks.toml
  microservices/auth-service/railway.toml
  microservices/cart-service/Dockerfile.railway
  microservices/cart-service/railway.toml
  microservices/contact-service/Dockerfile.railway
  microservices/contact-service/railway.toml
  microservices/order-service/Dockerfile.railway
  microservices/order-service/railway.toml
  microservices/payment-service/Dockerfile.railway
  microservices/payment-service/railway.toml
  microservices/product-service/Dockerfile.railway
  microservices/product-service/railway.toml
  microservices/promotion-service/Dockerfile.railway
  microservices/promotion-service/railway.toml
  microservices/review-service/Dockerfile.railway
  microservices/review-service/railway.toml
  microservices/user-service/Dockerfile.railway
  microservices/user-service/railway.toml
  microservices/wishlist-service/Dockerfile.railway
  microservices/wishlist-service/railway.toml
  scripts/deploy-to-railway.sh
  scripts/generate-railway-dockerfiles.sh
Due: user-service, auth-service, product-service, cart-service, order-service

fix: Switch Railway builder from DOCKERFILE to NIXPACKS
  microservices/auth-service/railway.toml
  microservices/cart-service/railway.toml
  microservices/contact-service/railway.toml
  microservices/order-service/railway.toml
  microservices/payment-service/railway.toml
  microservices/product-service/railway.toml
  microservices/promotion-service/railway.toml
  microservices/review-service/railway.toml
  microservices/user-service/railway.toml
  microservices/wishlist-service/railway.toml
Due: user-service, auth-service, product-service, cart-service, order-service

feat: Add Nixpacks configuration for all microservices
  microservices/cart-service/nixpacks.toml
  microservices/contact-service/nixpacks.toml
  microservices/order-service/nixpacks.toml
  microservices/payment-service/nixpacks.toml
  microservices/product-service/nixpacks.toml
  microservices/promotion-service/nixpacks.toml
  microservices/review-service/nixpacks.toml
  microservices/user-service/nixpacks.toml
  microservices/wishlist-service/nixpacks.toml
  scripts/generate-nixpacks.sh
Due: user-service, product-service, cart-service, order-service

fix: Remove all Dockerfiles to force Railway to use Nixpacks
  microservices/api-gateway/Dockerfile
  microservices/auth-service/Dockerfile
  microservices/auth-service/Dockerfile.railway
  microservices/cart-service/Dockerfile
  microservices/cart-service/Dockerfile.railway
  microservices/contact-service/Dockerfile
  microservices/contact-service/Dockerfile.railway
  microservices/order-service/Dockerfile
  microservices/order-service/Dockerfile.railway
  microservices/payment-service/Dockerfile
  microservices/payment-service/Dockerfile.railway
  microservices/product-service/Dockerfile
  microservices/product-service/Dockerfile.railway
  microservices/promotion-service/Dockerfile
  microservices/promotion-service/Dockerfile.railway
  microservices/review-service/Dockerfile
  microservices/review-service/Dockerfile.railway
  microservices/user-service/Dockerfile
  microservices/user-service/Dockerfile.railway
  microservices/wishlist-service/Dockerfile
  microservices/wishlist-service/Dockerfile.railway
Due: user-service, auth-service, product-service, cart-service, order-service

fix: Corregir sintaxis de nodejs en nixpacks.toml (nodejs_22 en lugar de nodejs-22_x)
  microservices/auth-service/nixpacks.toml
  microservices/cart-service/nixpacks.toml
  microservices/contact-service/nixpacks.toml
  microservices/order-service/nixpacks.toml
  microservices/payment-service/nixpacks.toml
  microservices/product-service/nixpacks.toml
  microservices/promotion-service/nixpacks.toml
  microservices/review-service/nixpacks.toml
  microservices/user-service/nixpacks.toml
  microservices/wishlist-service/nixpacks.toml
Due: user-service, auth-service, product-service, cart-service, order-service

fix: Usar nodejs en lugar de nodejs_22 en nixpacks.toml
  microservices/auth-service/nixpacks.toml
  microservices/cart-service/nixpacks.toml
  microservices/contact-service/nixpacks.toml
  microservices/order-service/nixpacks.toml
  microservices/payment-service/nixpacks.toml
  microservices/product-service/nixpacks.toml
  microservices/promotion-service/nixpacks.toml
  microservices/review-service/nixpacks.toml
  microservices/user-service/nixpacks.toml
  microservices/wishlist-service/nixpacks.toml
Due: user-service, auth-service, product-service, cart-service, order-service

fix: Usar npm ci en lugar de npm install y agregar .dockerignore
  microservices/auth-service/nixpacks.toml
  microservices/cart-service/nixpacks.toml
  microservices/contact-service/nixpacks.toml
  microservices/order-service/nixpacks.toml
  microservices/payment-service/nixpacks.toml
  microservices/product-service/nixpacks.toml
  microservices/promotion-service/nixpacks.toml
  microservices/review-service/nixpacks.toml
  microservices/user-service/nixpacks.toml
  microservices/wishlist-service/nixpacks.toml
Due: user-service, auth-service, product-service, cart-service, order-service

fix: Especificar cache de npm explícitamente
  microservices/auth-service/nixpacks.toml
Due: auth-service

fix: Simplificar nixpacks.toml en una sola línea
  microservices/auth-service/nixpacks.toml
Due: auth-service

fix: Remover builder del railway.toml para que use nixpacks.toml
  microservices/auth-service/railway.toml
  microservices/cart-service/railway.toml
  microservices/contact-service/railway.toml
  microservices/order-service/railway.toml
  microservices/payment-service/railway.toml
  microservices/product-service/railway.toml
  microservices/promotion-service/railway.toml
  microservices/review-service/railway.toml
  microservices/user-service/railway.toml
  microservices/wishlist-service/railway.toml
Due: user-service, auth-service, product-service, cart-service, order-service

fix: Volver a npm install ya que package-lock.json no se copia
  microservices/auth-service/nixpacks.toml
  microservices/cart-service/nixpacks.toml
  microservices/contact-service/nixpacks.toml
  microservices/order-service/nixpacks.toml
  microservices/payment-service/nixpacks.toml
  microservices/product-service/nixpacks.toml
  microservices/promotion-service/nixpacks.toml
  microservices/review-service/nixpacks.toml
  microservices/user-service/nixpacks.toml
  microservices/wishlist-service/nixpacks.toml
Due: user-service, auth-service, product-service, cart-service, order-service

fix: Invalidar cache de Railway con comentario en nixpacks
  microservices/auth-service/nixpacks.toml
Due: auth-service

fix: Agregar .dockerignore explícitamente para incluir package-lock.json
  microservices/auth-service/.dockerignore
  microservices/cart-service/.dockerignore
  microservices/contact-service/.dockerignore
  microservices/order-service/.dockerignore
  microservices/payment-service/.dockerignore
  microservices/product-service/.dockerignore
  microservices/promotion-service/.dockerignore
  microservices/review-service/.dockerignore
  microservices/user-service/.dockerignore
  microservices/wishlist-service/.dockerignore
Due: user-service, auth-service, product-service, cart-service, order-service

temp: Remover nixpacks.toml para forzar auto-detección
  microservices/auth-service/nixpacks.toml
Due: auth-service

fix: Agregar Dockerfile manual para evitar cache de Nixpacks
  microservices/auth-service/Dockerfile
Due: auth-service

fix: Forzar uso de Dockerfile en railway.toml
  microservices/auth-service/railway.toml
Due: auth-service

fix: Restaurar nixpacks.toml con npm install en lugar de npm ci
  microservices/auth-service/nixpacks.toml
Due: auth-service

fix: Modificar nixpacks.toml agregando curl para invalidar cache
  microservices/auth-service/nixpacks.toml
Due: auth-service

fix: Remover Dockerfile y builder config para usar Nixpacks
  microservices/auth-service/Dockerfile
  microservices/auth-service/railway.toml
Due: auth-service

fix: Agregar npm cache clean antes de install
  microservices/auth-service/nixpacks.toml
Due: auth-service

fix: Remover node_modules y usar --prefer-online para evitar cache corrupta
  microservices/auth-service/nixpacks.toml
Due: auth-service

fix: Ajustar path de shared para Railway
  microservices/auth-service/Dockerfile
  microservices/auth-service/nixpacks.toml
Due: auth-service

fix: Actualizar nixpacks para Root Directory en /microservices
  microservices/auth-service/nixpacks.toml
Due: auth-service

fix: Especificar provider de Node.js para Nixpacks
  microservices/auth-service/nixpacks.toml
Due: auth-service

fix: Añadir package.json raíz para detección de Nixpacks
  microservices/auth-service/nixpacks.toml
  microservices/package.json
Due: auth-service

chore: Añadir package-lock.json para detección Nixpacks
  microservices/package-lock.json
Due: none

fix: Crear .dockerignore para incluir package.json
  microservices/.dockerignore
Due: none

feat: Usar Dockerfile para mayor control del build
  microservices/Dockerfile
Due: none

fix: Mejorar .dockerignore para incluir package files
  microservices/.dockerignore
Due: none

chore: Invalidar cache Railway
  microservices/Dockerfile
Due: none

remove: Eliminar Dockerfile obsoleto de auth-service
  microservices/auth-service/Dockerfile
Due: auth-service

fix: Incluir explícitamente Dockerfile en dockerignore
  microservices/.dockerignore
Due: none

feat: Añadir .railwayignore para Railway
  microservices/.railwayignore
Due: none

fix: Dockerfile funcional con dependencias de shared/logging
  microservices/Dockerfile
Due: none

fix: Soportar DATABASE_URL en auth-service para Railway
  microservices/auth-service/src/config/database.js
Due: auth-service

feat: Añadir Dockerfiles individuales para todos los microservicios
  create-dockerfiles.sh
  microservices/api-gateway/Dockerfile
  microservices/auth-service/db/schema.sql
  microservices/cart-service/Dockerfile
  microservices/contact-service/Dockerfile
  microservices/notification-service/Dockerfile
  microservices/order-service/Dockerfile
  microservices/payment-service/Dockerfile
  microservices/product-service/Dockerfile
  microservices/promotion-service/Dockerfile
  microservices/railway.toml
  microservices/review-service/Dockerfile
  microservices/user-service/Dockerfile
  microservices/wishlist-service/Dockerfile
  railway-services-config.json
Due: user-service, auth-service, product-service, cart-service, order-service

feat: Soportar DATABASE_URL en servicios PostgreSQL + scripts de deployment
  deploy-all-services.sh
  deploy-postgres-services.sh
  microservices/user-service/src/config/database.js
  update-postgres-config.sh
Due: user-service

feat: Schemas SQL y scripts de deployment completos
  RAILWAY_DEPLOYMENT_GUIDE.md
  create-all-tables.sh
  microservices/order-service/db/schema.sql
  microservices/user-service/db/schema.sql
Due: user-service, order-service

feat: Configuración Railway para user-service
  microservices/user-service/railway.json
Due: user-service
