Repository laloaggro/Flores-Victoria-: changes, and which Codecov flags are due for each by the changed paths.
All: user-service, auth-service, product-service, cart-service, order-service

codecov.yml:

# Codecov Configuration for Flores Victoria
# https://docs.codecov.io/docs/codecov-yaml

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: 60%
        threshold: 2%
        if_not_found: success
        if_ci_failed: error
    
    patch:
      default:
        target: 70%
        threshold: 5%
        if_not_found: success

# Individual service coverage targets
flag_management:
  default_rules:
    carryforward: true
    
flags:
  user-service:
    paths:
      - microservices/user-service/
    carryforward: true
    
  auth-service:
    paths:
      - microservices/auth-service/
    carryforward: true
    
  product-service:
    paths:
      - microservices/product-service/
    carryforward: true
    
  cart-service:
    paths:
      - microservices/cart-service/
    carryforward: true
    
  order-service:
    paths:
      - microservices/order-service/
    carryforward: true

# Ignore patterns
ignore:
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/coverage/**"
  - "**/dist/**"
  - "**/build/**"
  - "**/*.test.js"
  - "**/*.spec.js"
  - "**/jest.setup.js"
  - "**/jest.config.js"
  - "**/mcp-helper.js"
  - "**/server.js"
  - "**/*.md"
  - "**/*.sh"
  - "development/**"
  - "admin-panel/**"
  - "shared/**"
  - "docs/**"

# Comment settings for pull requests
comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main
    - develop

# GitHub checks
github_checks:
  annotations: true

# Annotation settings
annotations:
  range: "50...100"
  round: down
  precision: 2

fix(docker): use absolute paths from repo root for product-service and auth-service
  microservices/auth-service/Dockerfile
  microservices/product-service/Dockerfile
Due: auth-service, product-service

fix(railway): remove startCommand - use Dockerfile CMD instead
  microservices/admin-dashboard-service/railway.toml
  microservices/auth-service/railway.toml
  microservices/cart-service/railway.toml
  microservices/contact-service/railway.toml
  microservices/notification-service/railway.toml
  microservices/order-service/railway.toml
  microservices/payment-service/railway.toml
  microservices/product-service/railway.toml
  microservices/promotion-service/railway.toml
  microservices/review-service/railway.toml
  microservices/user-service/railway.toml
  microservices/wishlist-service/railway.toml
Due: user-service, auth-service, product-service, cart-service, order-service

fix(docker): use relative paths in Dockerfiles for Railway compatibility
  microservices/admin-dashboard-service/Dockerfile
  microservices/admin-dashboard-service/railway.toml
  microservices/api-gateway/Dockerfile
  microservices/auth-service/Dockerfile
  microservices/cart-service/Dockerfile
  microservices/cart-service/railway.toml
  microservices/contact-service/Dockerfile
  microservices/contact-service/railway.toml
  microservices/notification-service/Dockerfile
  microservices/notification-service/railway.toml
  microservices/order-service/Dockerfile
  microservices/order-service/railway.toml
  microservices/payment-service/Dockerfile
  microservices/payment-service/railway.toml
  microservices/product-service/Dockerfile
  microservices/product-service/railway.toml
  microservices/promotion-service/Dockerfile
  microservices/promotion-service/railway.toml
  microservices/review-service/Dockerfile
  microservices/review-service/railway.toml
  microservices/user-service/Dockerfile
  microservices/user-service/railway.toml
  microservices/wishlist-service/Dockerfile
  microservices/wishlist-service/railway.toml
Due: user-service, auth-service, product-service, cart-service, order-service

fix(railway): correct dockerfilePath in railway-configs for product-service
  railway-configs/product-service.toml
Due: none

fix(docker): use absolute paths from repo root for Railway builds
  microservices/product-service/.railwayignore
  microservices/product-service/Dockerfile
  microservices/product-service/railway.toml
Due: product-service

fix(docker): use relative paths for Railway Root Directory v1.0.7
  microservices/product-service/Dockerfile
Due: product-service

fix(docker): add --ignore-scripts to prevent husky install in production
  microservices/admin-dashboard-service/Dockerfile
  microservices/api-gateway/Dockerfile
  microservices/auth-service/Dockerfile
  microservices/cart-service/Dockerfile
  microservices/contact-service/Dockerfile
  microservices/notification-service/Dockerfile
  microservices/order-service/Dockerfile
  microservices/payment-service/Dockerfile
  microservices/product-service/Dockerfile
  microservices/promotion-service/Dockerfile
  microservices/review-service/Dockerfile
  microservices/user-service/Dockerfile
  microservices/wishlist-service/Dockerfile
Due: user-service, auth-service, product-service, cart-service, order-service

fix(api-gateway): use absolute paths for Railway without Root Directory
  microservices/api-gateway/Dockerfile
Due: none

fix(api-gateway): use relative paths (requires Root Directory config)
  microservices/api-gateway/Dockerfile
Due: none

fix(api-gateway): regenerate package-lock.json without local file reference
  microservices/api-gateway/package-lock.json
Due: none

fix(api-gateway): use Dockerfile builder, remove invalid startCommand
  microservices/api-gateway/railway.json
Due: none

fix(api-gateway): add complete shared module stubs with all submodules
  microservices/api-gateway/Dockerfile
Due: none

fix(api-gateway): add middleware/health-check and rate-limiter stubs
  microservices/api-gateway/Dockerfile
Due: none

fix(api-gateway): clean Dockerfile v1.0.11 with verification step
  microservices/api-gateway/Dockerfile
Due: none

fix(api-gateway): add initRedisClient, publicLimiter, createHealthCheck stubs v1.0.12
  microservices/api-gateway/Dockerfile
Due: none

fix(promotion-service): add missing metrics-simple.js stub
  microservices/promotion-service/shared/metrics-simple.js
Due: none

feat(api-gateway): remove Leonardo.ai, use Hugging Face as primary AI provider
  microservices/api-gateway/src/routes/aiImages.routes.js
  microservices/api-gateway/src/services/leonardoClient.js
Due: none

fix(user-service): use DOCKERFILE builder instead of NIXPACKS
  microservices/user-service/railway.json
Due: user-service

fix(user-service): force rebuild v1.0.6
  microservices/user-service/Dockerfile
Due: user-service

fix(user-service): remove railway.json, keep only railway.toml
  microservices/user-service/railway.json
Due: user-service

fix(user-service): rename Dockerfile to Dockerfile.railway
  microservices/user-service/Dockerfile.railway
  microservices/user-service/railway.toml
Due: user-service

fix(user-service): switch to NIXPACKS builder
  microservices/user-service/nixpacks.toml
  microservices/user-service/railway.toml
Due: user-service

fix(user-service): lower Node.js version requirement to 18+ for Railway compatibility
  microservices/user-service/Dockerfile
  microservices/user-service/package-lock.json
  microservices/user-service/package.json
Due: user-service

fix(order-service): switch to NIXPACKS builder and lower Node.js requirement to 18+
  microservices/order-service/nixpacks.toml
  microservices/order-service/package-lock.json
  microservices/order-service/package.json
  microservices/order-service/railway.toml
Due: order-service

fix(auth-service): add explicit startCommand to override Railway UI config
  microservices/auth-service/railway.toml
Due: auth-service

fix(services): add startCommand to cart, wishlist, contact, notification services
  microservices/cart-service/railway.toml
  microservices/contact-service/railway.toml
  microservices/notification-service/railway.toml
  microservices/wishlist-service/railway.toml
Due: cart-service

fix(services): switch to NIXPACKS builder and simplify nixpacks.toml for cart, wishlist, contact, notification services
  microservices/cart-service/railway.toml
  microservices/contact-service/nixpacks.toml
  microservices/contact-service/railway.toml
  microservices/notification-service/nixpacks.toml
  microservices/notification-service/railway.toml
  microservices/wishlist-service/nixpacks.toml
  microservices/wishlist-service/railway.toml
Due: cart-service

fix(services): remove Dockerfiles to force NIXPACKS builder for cart, wishlist, contact, notification
  microservices/cart-service/Dockerfile
  microservices/contact-service/Dockerfile
  microservices/notification-service/Dockerfile
  microservices/wishlist-service/Dockerfile
Due: cart-service

fix(services): upgrade to nodejs_20 - Node 18 EOL in Nixpacks
  microservices/cart-service/nixpacks.toml
  microservices/contact-service/nixpacks.toml
  microservices/notification-service/nixpacks.toml
  microservices/order-service/nixpacks.toml
  microservices/user-service/nixpacks.toml
  microservices/wishlist-service/nixpacks.toml
Due: user-service, cart-service, order-service

fix(services): add npm cache clean to fix npm extraneous error
  microservices/cart-service/nixpacks.toml
  microservices/contact-service/nixpacks.toml
  microservices/notification-service/nixpacks.toml
  microservices/wishlist-service/nixpacks.toml
Due: cart-service

fix(services): rm package-lock.json before npm install to fix extraneous error
  microservices/cart-service/nixpacks.toml
  microservices/contact-service/nixpacks.toml
  microservices/notification-service/nixpacks.toml
  microservices/wishlist-service/nixpacks.toml
Due: cart-service

fix(services): remove start from nixpacks.toml, use railway.toml startCommand
  microservices/cart-service/nixpacks.toml
  microservices/contact-service/nixpacks.toml
  microservices/notification-service/nixpacks.toml
  microservices/wishlist-service/nixpacks.toml
Due: cart-service

fix(services): restore Dockerfiles with node:20-alpine for failing services
  microservices/cart-service/Dockerfile
  microservices/cart-service/railway.toml
  microservices/contact-service/Dockerfile
  microservices/contact-service/railway.toml
  microservices/notification-service/Dockerfile
  microservices/notification-service/railway.toml
  microservices/wishlist-service/Dockerfile
  microservices/wishlist-service/railway.toml
Due: cart-service

fix(services): use package-simple.json in Dockerfiles like auth-service
  microservices/cart-service/Dockerfile
  microservices/contact-service/Dockerfile
  microservices/notification-service/Dockerfile
  microservices/wishlist-service/Dockerfile
Due: cart-service

fix(services): remove startCommand to use Dockerfile CMD instead
  microservices/cart-service/railway.toml
  microservices/contact-service/railway.toml
  microservices/notification-service/railway.toml
  microservices/wishlist-service/railway.toml
Due: cart-service

fix(services): add metricsMiddleware and metricsEndpoint to stub exports
  microservices/cart-service/Dockerfile
  microservices/contact-service/Dockerfile
  microservices/notification-service/Dockerfile
  microservices/wishlist-service/Dockerfile
Due: cart-service

chore: Limpieza de archivos legacy y corrección de configuraciones
  microservices/cart-service/src/app.js
  microservices/contact-service/Dockerfile
  microservices/contact-service/src/__tests__/unit/Contact.test.js
  microservices/contact-service/src/__tests__/unit/logger.test.js
  microservices/contact-service/src/controllers/contactController.js
  microservices/contact-service/src/logger.js
  microservices/contact-service/src/models/Contact.js
  microservices/contact-service/src/server.js
  microservices/notification-service/Dockerfile
  microservices/notification-service/src/logger.js
  microservices/order-service/Dockerfile
  microservices/order-service/src/app.js
  microservices/order-service/src/config/database.js
  microservices/order-service/src/config/index.js
  microservices/payment-service/src/logger.js
  microservices/product-service/src/app.js
  microservices/review-service/src/__tests__/unit/logger.test.js
  microservices/review-service/src/__tests__/unit/reviewController.test.js
  microservices/review-service/src/app.js
  microservices/review-service/src/config/rabbitmq.js
  microservices/review-service/src/controllers/reviewController.js
  microservices/review-service/src/logger.js
  microservices/review-service/src/middleware/common.js
  microservices/review-service/src/models/Review.js
  microservices/review-service/src/server.js
  microservices/user-service/src/app.js
  microservices/wishlist-service/src/__tests__/unit/logger.test.js
  microservices/wishlist-service/src/__tests__/unit/wishlistController.test.js
  microservices/wishlist-service/src/config/redis.js
  microservices/wishlist-service/src/controllers/wishlistController.js
  microservices/wishlist-service/src/logger.js
  microservices/wishlist-service/src/server.js
Due: user-service, product-service, cart-service, order-service

chore: Remove remaining legacy logger.js files with winston-logstash
  microservices/api-gateway/src/__tests__/routes/index.test.js
  microservices/api-gateway/src/__tests__/unit/logger.test.js
  microservices/api-gateway/src/app.js
  microservices/api-gateway/src/logger.js
  microservices/api-gateway/src/middleware/cache.js
  microservices/api-gateway/src/middleware/rate-limit.js
  microservices/api-gateway/src/middleware/rateLimiter.js
  microservices/api-gateway/src/routes/index.js
  microservices/auth-service/src/__tests__/unit/logger.test.js
  microservices/auth-service/src/logger.js
  microservices/cart-service/src/__tests__/unit/logger.test.js
  microservices/cart-service/src/config/redis.js
  microservices/cart-service/src/controllers/cartController.js
  microservices/cart-service/src/logger.js
  microservices/product-service/src/__tests__/middleware/imageHandler.test.js
  microservices/product-service/src/__tests__/services/cacheService.test.js
  microservices/product-service/src/__tests__/unit/logger.test.js
  microservices/product-service/src/logger.js
  microservices/product-service/src/middleware/imageHandler.js
  microservices/product-service/src/routes/products.js
  microservices/user-service/src/__tests__/unit/logger.test.js
  microservices/user-service/src/logger.js
Due: user-service, auth-service, product-service, cart-service

chore: Remove winston-logstash from all package.json dependencies
  microservices/api-gateway/package.json
  microservices/auth-service/package.json
  microservices/cart-service/package.json
  microservices/contact-service/package.json
  microservices/order-service/package.json
  microservices/product-service/package.json
  microservices/review-service/package.json
  microservices/user-service/package.json
  microservices/wishlist-service/package.json
Due: user-service, auth-service, product-service, cart-service, order-service
